[2022-03-16 18:08] jonaslagoni commented on #734
I like this 👍

[2022-03-16 21:31] mgiovann opened #739 "Ability to define a list of servers on which an operation is available"
## Problem

I want to represent that fact that my publish operation uses one URL (the URL of my message broker) and my subscribe operation uses another (the URL of my subscriber webhook).

## Suggestion

The operation object should allow an optional list of server object names on which the operation is available

Example:

[code]

[2022-03-17 11:28] derberg commented on #734
oh, good point about the naming, yeah `next` on parser will not be good, `next-spec` is ok. As for the major release, I'm not so sure. First of all we do not have anything about major releases in the current release process, as this is very individual and will be rare. So I do not think we need to agree on anything for it now + for 3.0 we already know that parser will also be bumped up with breaki

[2022-03-17 15:35] derberg commented on #590
as @fmvilas mentioned we need min/max like in generator, and like @magicmatatjahu wrote, we need it as part of schema, so tooling can check that out

[2022-03-18 14:19] smoya commented on #725
Relates to https://github.com/asyncapi/spec/pull/718 (not the same)

[2022-03-18 14:27] smoya commented on #725
It is not very clear to me, by the RFC, that informal URN namespaces should be registered as they already have the `:urn{1-7}` assigned.
Are you sure about that (asking because I have **no idea**)?

[2022-03-21 18:08] smoya commented on #735
As it seems there are no cons for building on top of the new definitions structure, we will do once https://github.com/asyncapi/spec-json-schemas/pull/184 is merged.

[2022-03-21 18:56] smoya commented on #675
I think we can close this one now that https://github.com/asyncapi/spec/pull/722 got merged. WDYT @dalelane ?

[2022-03-21 19:41] fmvilas commented on #654
I'm surprised you didn't play the "environment" card. Some people already requested we add a way to group servers by the environment, e.g., production, staging, development, etc. This way, you could have generators or Glee to run the code for `production` or for `development`, without having to change which servers it should use/create.

Since there are a myriad of cases, I'm wondering if we shoul

[2022-03-21 19:43] smoya commented on #739
Hi @mgiovann, thanks for your RFC submission!

I wonder if, for your use case, you could create two different channels instead and specify a different server on each through the `servers` field.
Am I guessing right if I say you considered but discarded it because your channel address is still the same on both servers (`user/signedup`)?

AsyncAPI v3.0 will potentially include a big change in how Ch

[2022-03-21 19:54] dalelane commented on #675
oh yeh, good point - I'd forgotten about this! :-)

[2022-03-21 19:54] #675 closed

[2022-03-21 21:04] smoya commented on #654
Yeah, after the simplification I made, this is mostly the same as https://github.com/asyncapi/spec/issues/623 (different fashion).
I like the tags approach. In fact, tooling could use some kind of selectors for filtering as input, like `serviceName: 'foo'` , or even more advanced one with mathers like `serviceName in ('foo', 'bar')`. Just thinking in far feature possibilities. (something like http

[2022-03-21 21:13] smoya commented on #654
Yeah, after the simplification I made, this is mostly the same as https://github.com/asyncapi/spec/issues/623 (different fashion).
I like the tags approach. In fact, tooling could use some kind of selectors for filtering as input, like `serviceName: 'foo'` , or even more advanced one with mathers like `serviceName in ('foo', 'bar')`. Just thinking in far feature possibilities. (something like http

[2022-03-21 21:15] smoya commented on #623
@ekozynin I recently updated https://github.com/asyncapi/spec/issues/654, becoming mostly a similar suggestion on what you did.

WDYT about @fmvilas suggestion here: https://github.com/asyncapi/spec/issues/654#issuecomment-1074424027
Do you think it makes sense?

I'm happy to move forward and join efforts with you, so we can include this into v2.4.0 release next month.

[2022-03-21 21:23] mgiovann commented on #739
Hi @smoya

That proposal would seem to solve our issue. Thanks for bringing it to our attention.

[2022-03-21 21:55] mgiovann commented on #663
I'm coming here from #739 and I wanted to chime in and say that this proposal seems to support my use case. I want to represent that fact that my publish operation uses one URL (the URL of my message broker) and my subscribe operation uses another (the URL of my subscriber webhook). As @smoya has pointed out, the ability to define two different channels using the same channel address but separate

[2022-03-21 22:21] smoya commented on #556
Hi @GeraldLoeffler! It has been a while since you created this RFC-0. Do you wanna champion it?

[2022-03-21 22:21] smoya commented on #557
Hi @GeraldLoeffler! It has been a while since you created this RFC-0. Do you wanna champion it?

[2022-03-21 22:25] smoya commented on #547
@dedoussis are you happy championing this one as you mentioned in the past?

[2022-03-21 22:28] smoya commented on #654
@fmvilas there is also this proposal https://github.com/asyncapi/spec/issues/527 which won't be able to take profit of the tags mechanism, so it will require a dedicated field (I mean, we could somehow reuse it but IMHO will look complex).

[2022-03-21 22:30] smoya commented on #527
@195858 Do you wanna take the lead on this and champion it? We do have a new release in a month so we could include it on it if the proposal reaches the proper stage.

[2022-03-21 22:34] smoya commented on #735
I'm keeping a list in the description of the issue with the potential work to be included in this release.

[2022-03-21 22:38] fmvilas commented on #654
I think they're unrelated. This proposal is suggesting a way to prefix channel names, which I'd highly discourage now that we can associate channels with servers. And in v3 you'll be able to fully reuse channels so no need for it IMHO. But yeah, not sure what does it have to do with this proposal here 🤔

[2022-03-22 08:57] smoya commented on #654
The fact that just one field could work for both features. I just wanted to mention it here. Of course, it could be done by selecting a tag for the prefix. But not important to this issue.

[2022-03-22 10:40] jonaslagoni commented on #658
I am gonna stop pursuing this issue for now as it seems we do not have enough clear use-cases for it, so it would not make sense to force this change as of now. I still believe this is eventually needed, and if you ever encounter such a use case please let us know below.

If you wish to champion this issue, feel free to take it over 🙂

[2022-03-22 14:21] smoya commented on #734
If i understand correctly, this is what we all agreed here so far:

- `next-spec` => replacement for `2022-xx-xx-release` branches for releasing **minor versions**.
- `next-major-spec` => replacement for `2022-xx-xx-release` for releasing **major versions**.

Shall we also keep `next-major` in repositories so we can work on major releases without having to wait for release branches to happen?
I wo

[2022-03-22 19:40] fmvilas commented on #654
🤔 If we ever implement support for channel prefix, I don't think it should be a tag. That would be super unexpected 😅

[2022-03-23 08:24] derberg commented on #734
`next-spec` - I'm all in for this one to have it always in the spec, schema and parser repos
`next-major-spec` - I'm all in for this one to have it for 3.0 related work, which will anyway continue next few months, but then we just remove it. As 4.0 will not come very soon I believe 😆

`next-major` I guess we can keep it for TS rewrite, but for 3.0 related work shouldn't it be done in `next-major-s

[2022-03-23 10:37] smoya commented on #734
I would vote not to remove it. I don't think it hurts having that branch in there IMHO.

`next-major` branches would be there just for major releases related to **only** the repository. Nothing to do with the spec, like the TS rewrite, the split out of JSON Schema definitions @jonaslagoni did, or any other breaking change not related with the spec directly.

As a summary, those branches will be th

[2022-03-23 11:20] magicmatatjahu commented on #654
I would prefer to go in the direction of something more generic like the mentioned tags, but there is one problem, because currently tags work like classic tags, so their key (the `name` field) is treated as a value. What do you think about adding an optional `values` field, which would specify what value is under a given key. Example:

[code]

Why a list of values and not a single value? In the c

[2022-03-23 11:59] smoya commented on #654
The reality is that with current tags you can make it work by composing a unique tag, such as `name: "env:prod"`. The same could work for multiple values, i.e. `name: "owner:platform,product"` or declare multiple tags with different names (one for `owner:platform`, another with `owner:product`.

However, this gives too much flexibility to users, but it will penalize tooling and it's UX since no fo

[2022-03-23 13:34] derberg commented on #734
it will quickly get outdated and will be less useful than it could. Of course, I mean after 3.0 release.
We do not auto-update branches that do not have PR's opened

[2022-03-23 15:23] smoya commented on #734
I agree, it will. 👍

Will it make sense to always have that branch included in `package.json` semantic-release section so it will be just a matter of creating the branch to just have the prereleases working automatically in case we need it? Or we should just remove branch + mention in `package.json` semantic-release section as well? Happy with any solution.

[2022-03-24 08:58] derberg commented on #734
I guess it makes sense to have it always by default in `semantic-release` config 👍🏼

[2022-03-24 10:09] smoya commented on #734
After receiving all the feedback, this is what we agreed so far:

- To create the following branches and keep them in all repositories involved in spec releases (as per today `spec`, `spec-json-schemas`, `parser-js`):
  - `next-spec` => replacement for 2022-xx-xx-release branches for releasing minor versions.
  - `next-major-spec` => replacement for 2022-xx-xx-release for releasing major versions.

[2022-03-24 10:16] smoya commented on #654
Yes, totally agree.

[2022-03-28 14:43] smoya commented on #654
I created the following PR's for adding the `values` field to the `Tag Object`:

- Spec: https://github.com/asyncapi/spec/pull/744
- spec-json-schemas: https://github.com/asyncapi/spec-json-schemas/pull/191

If we finally move forward, I will then create a new PR allowing Tags to be defined at server level.

cc @magicmatatjahu @fmvilas @ekozynin @dalelane

[2022-03-30 14:51] smoya commented on #458
@WaleedAshraf We plan to release [2.4 release](https://github.com/asyncapi/spec/issues/735) soon (April 2022). Do you think you will have some time for materializing this RFC?
I can help with it.

[2022-03-30 16:01] WaleedAshraf commented on #458
@smoya Yes, I'll have some time. Let's sync on this on Slack.

[2022-03-30 20:13] smoya commented on #735
For this version, we are gonna keep working with the current schemas structure (`master` branch). More info here: https://github.com/asyncapi/spec-json-schemas/pull/184

[2022-03-31 05:17] fmvilas commented on #458
Is Waleed back? 😱 🚀 🎉

[2022-04-05 07:54] WaleedAshraf commented on #458
@smoya PR is there 🎉 . Who can review it?

[2022-04-05 08:25] derberg commented on #654
Well, yes, I know, I'm pretty late in this convo, but still.. 😄

After looking on the PR and also this issue I'm not sure what use case are we exactly solving. I saw description about concept with file with common servers, I also saw this:

[code]

but I do not understand how it helps. Would you expect a kind of possibility to reference from `my` asyncapi file to `common.asyncapi.yaml` with someth

[2022-04-05 10:57] derberg commented on #458
@WaleedAshraf we also need an update to JSON Schema, you had a PR in the past https://github.com/asyncapi/spec-json-schemas/pull/24 but you just need to create new against proper file and branch

[2022-04-05 11:10] WaleedAshraf commented on #458
@derberg Yes. I will do that once the PR for parser PR is approved. As there can be more changes required and it gets delayed, etc.

[2022-04-05 15:21] smoya commented on #654
No, I wouldn't expect that at all. If we wanted to somehow do that we would need to change how `servers` are defined, like:

[code]

Which I don't think it is ideal nor needed.

Exactly, that's the right case at this moment. As you can see, we just need a way of marking servers with a **tag** or **label**, that can be added to any servers.

I took a look at it. Even though I see Metadata-style obj

[2022-04-05 21:06] mike-schenk commented on #725
By RFC 8141, even the informal URN namespace identifiers (NIDs) are meant to be registered with IANA. Section 5.2 says

And section 7.2 says

So even an informal URN would need to be registered and, using a hypothetical informal URN namespace "8", would look something like `urn:urn-8:com:smartylighting:streetlights:server`

For what it's worth, I suggest keeping the requirement that the `id` must

[2022-04-07 19:45] WaleedAshraf commented on #458
@derberg Here https://github.com/asyncapi/spec-json-schemas/pull/195

[2022-04-08 11:55] albertnadal opened #747 "Tool proposal for spec validation in Python / Pydantic"
### New tool proposal

Hi team, I want to propose a new AsyncAPI schema validation tool for the community/tooling section. I recently published a Python package to let the developers load and validate their AsyncAPI specs using Pydantic classes. I thought this might be useful to the community. Information about the tool is listed below.

**asyncapi-schema-pydantic**
This is an AsyncAPI specificati

[2022-04-11 08:33] derberg commented on #458
I think we can move this one to `Stage 2: Draft`
- we have https://github.com/asyncapi/spec-json-schemas/pull/195
- and https://github.com/asyncapi/parser-js/pull/510

and also solution itself makes a lot of sense and can't really be done differently.
@fmvilas @dalelane

cc @smoya

[2022-04-11 16:58] gabormagyar opened #750 "Expanded tags support: allow adding tags to more entities, support refs"
Tags are great! I see two low hanging improvements that could be made to them:

### Refs

Tags could be added under `components`, and could be referenced in other places so that tags (potentially with documentation and info links) don't have to be duplicated across usages

### More entities

I tried to add tags to schemas, but the parser told me that that was invalid. I see no reason to disallow t

[2022-04-11 21:27] smoya commented on #734
After releasing 2.4, I will work on this so I can remove the mentions to `2022-04-release` and instead add `next-spec` and `next-major-spec`.

[2022-04-13 08:51] jonaslagoni commented on #691
As agreed in https://github.com/asyncapi/spec/issues/734#issuecomment-1077455953 we should use `next-major-spec` branches when related to spec changes. This is the current todo by one of the spec code owners cc: @derberg @fmvilas @dalelane:

- [ ] "Change" the name of `next-major` branch in spec repo to `next-major-spec`.
- [ ] Add branch `next-major-spec` to spec-json-schema repo.
- [ ] Add branc

[2022-04-13 11:04] derberg commented on #747
@albertnadal feel free to add it to https://github.com/asyncapi/website/blob/master/pages/docs/community/tooling.md through a PR

and I confirm what @smoya wrote 😄

[2022-04-13 11:07] derberg commented on #750
@gabormagyar can you specify where exactly you would like to see `Tag` object enabled, and share example?
Because we do releases regularly we always try to add things only that have use case rather that assuming use case 😄 I guess you know what I mean.

I also understand you'd like to have it also in components so it can be refed from other parts of the document

[2022-04-13 15:52] fmvilas commented on #458
Yeah, let's move it to Stage 2 👍

[2022-04-13 16:49] fmvilas commented on #691
All the three are done now @jonaslagoni

[2022-04-13 22:39] udamir opened #754 "New diff tool proposal"
Hi team,
I want to propose a new diff tool for the community/tooling section.
I recently published [api-smart-diff](https://www.npmjs.com/package/api-smart-diff) (npm package) which provides utils to compute diff between two API specifications, including AsyncAPI specs. I hope it can be useful to the community.

Demo page: https://udamir.github.io/api-smart-diff
Sources and documentation: https://

[2022-04-15 00:14] #457 closed

[2022-04-19 20:43] smoya commented on #707
All PRs have been aproved. Would you mind @derberg @fmvilas or @dalelane mark this as RFC Stage 3 (Accepted) and merge (at least the spec one)?

- https://github.com/asyncapi/spec/pull/717
- https://github.com/asyncapi/spec-json-schemas/pull/174
-  https://github.com/asyncapi/parser-js/pull/476

[2022-04-20 07:52] derberg commented on #707
yup, all seems to be there, there is only a merge conflict in one of the PRs

[2022-04-20 13:49] derberg commented on #674
Hey, you did not come to community meeting and somehow it got lost, sorry. Stale bot to the rescue 🚀 😄

More details in JSON Schema -> URL shoudl be of `uri` format so RFC3986. You want it explicit in the spec markdown file too, right? IMHO it definitely makes sense, users should not be forced to check JSON Schema

[2022-04-20 14:47] derberg commented on #667
How is it going with the freeze period? 😆

[2022-04-21 00:10] oogetyboogety opened #762 "Kafka bindings - header - object type in header's json schema"
I would like some clarification on Kafka message bindings with headers. What's the meaning of `- property: type: object` inside a header schema? What would the code bindings do if I did something like this? Is it defined as per spec as a key with the JSON path for the attribute defined in the JSON schema of the header, or is it an actual UTF-8 encoded string of a json object inside that particular

[2022-04-21 10:24] jonaslagoni commented on #691
Next couple of blocking issues to continue:

cc code owners of spec: @derberg @fmvilas @dalelane
- [ ] https://github.com/asyncapi/spec/pull/753/
- [ ] https://github.com/asyncapi/spec-json-schemas/pull/184
- [ ] https://github.com/asyncapi/spec-json-schemas/pull/205

cc code owners of parser: @derberg @fmvilas @magicmatatjah
- [ ] https://github.com/asyncapi/parser-js/pull/517

[2022-04-21 11:32] oli668 opened #763 "snowrobot"

[2022-04-21 11:32] #763 closed

[2022-04-22 11:00] vkosuri opened #765 "support schemathesis for asyncapi"
Hi @fmvilas

Tagging issue: [[schemathesis](https://github.com/schemathesis/schemathesis)](https://github.com/schemathesis/schemathesis/issues/713)

Currently, I am looking are their similar check can put for asyncapi,

I am not sure how can put restrictions on requests and responses in publish/subscribe mode? Could you please provide your input?

Some open API testable specifications
Input struct

[2022-04-22 15:22] smoya opened #766 "Fix examples for the new "security at operation level" feature"
There are few issues in https://github.com/asyncapi/spec/pull/584, which is already merged into the release branch `2022-04-release` regarding the provided examples.

## 1.

The example text is poorly worded - will reword this. My intention was to state that you could still  operate on the channel using security credentials supported at the server level perhaps thru a different operation. Is this

[2022-04-22 18:09] sekharbans-ebay commented on #766
Please review:
https://github.com/asyncapi/spec/pull/768

[2022-04-25 09:59] fmvilas commented on #765
I'm not sure what you mean here. Are you trying to test an HTTP API with AsyncAPI?

[2022-04-25 19:29] autodidaddict commented on #94
Just dropping in to point out that this issue started 4 years ago. If async API is never going to support request/reply, I'd rather know that now rather than investing in a format that will ultimately never suit my needs.

[2022-04-26 07:04] derberg commented on #94
@autodidaddict thanks for taking the time to share your feedback, not many do.

AsyncAPI Initiative is community-driven, with all needed mechanisms in place that enable anyone to contribute, work on features openly in a transparent environment. Some changes in the spec require a driver ([champion](https://github.com/asyncapi/spec/blob/master/CONTRIBUTING.md#rfc-contribution-champions)), just nobod

[2022-04-26 08:50] smoya commented on #654
For reference: Maybe there are more use cases or needs for Tags. https://github.com/asyncapi/spec/pull/744

[2022-04-26 08:58] vkosuri commented on #765
No, we have some generation tools which will generate messages from the schema and that will be sent over the channel.

In order, my generation tool is properly generating a proper message format according to schema specification.

Do we have any specifications to meet this requirement?

[2022-04-26 12:04] rober15 commented on #624
Any conclusion on this topic ?
I agree that most important would be to get it possible to reference other schemas but skip any automated parsing.
It is better to describe any event no matter which format in a industry standard then only being able to support JSON.

What needs to happen to get that into the next releases ?

[2022-04-26 16:12] derberg commented on #762
@oogetyboogety hey, can you link to or quote which part of the spec you actually have in mind?

[2022-04-27 07:13] smoya commented on #735
Starting the release process **right now** cc @derberg @dalelane @fmvilas

[2022-04-27 16:54] smoya commented on #705
This issue can be now closed as it got merged and released. @char0n

[2022-04-27 16:54] smoya commented on #707
This issue can be now closed as it got merged and released. @danielkocot

[2022-04-28 06:35] char0n commented on #705
@smoya thanks, closing.

[2022-04-28 06:35] #705 closed

[2022-04-28 09:36] #458 closed

[2022-04-28 19:32] #707 closed

[2022-04-29 06:46] GreenRover commented on #94
@derberg There seams not to be much progress / discussions in: https://github.com/asyncapi/spec/pull/594
May be we should have a dedicated call to get progress here? (But please not at 4PM UTC, at least -1hour/+2hour would match my time zone (CEST) much better)

[2022-04-29 10:54] pratik2315 opened #788 "[📑 Docs]: In AsyncAPI Specification docs, Should we format the keywords in a bulleted list?"
### What Dev Docs changes are you proposing?

**In the Specification 2.3.0 the keywords "MUST", "MUST NOT" etc. are given: https://www.asyncapi.com/docs/specifications/v2.3.0**

![Screenshot (50)](https://user-images.githubusercontent.com/77961530/165929653-c1c255c7-f08e-4bc8-8b9a-969c4c9d087d.png)

**IMHO, We could format and restructure them in a better way by listing them. Something similar lik

[2022-04-29 17:28] realmohan001 opened #774 "Linking AsyncAPI Spec to confluent Schema registry"
I am trying to refer to AVRO schemas in confluent schema registry inside AsyncAPI spec. How do I provide the HTTP URL to confluent schema registry? Confluent Schema registry needs key/secret, Is there a place in ASyncAPI spec to provide it?

[2022-05-01 10:12] dalelane commented on #774
@realmohan001 No - there isn't a dedicated place for it in the spec, although I have seen people embed it in the URL before as a workaround (e.g. `http://USERNAME:PASSWORD@schemaregistry-url` )

For what it's worth, in my opinion, I don't think credentials should go into an AsyncAPI doc  - in the same way that I wouldn't put REST API credentials in my OpenAPI docs. I use these documents to describ

[2022-05-02 15:58] dalelane commented on #774
I'm not sure exactly what you mean by this, but it sounds like perhaps you forgot to URL encode the strings.

This is subjective, so I'm expressing my personal opinion here rather than saying how things should work.

But personally, I wouldn't put username/password in my code - I keep credentials separate and external to my code, and provide them at run-time through things like environment variabl

[2022-05-03 08:09] char0n opened #775 "Extending `Server.variables` field type"
As of version **2.4.0**, `Server Variable Object` can now be defined in `Components.serverVariables` fixed field, which indicates re-usability. Here is an example that I've took from [AsyncAPI 2.4.0 release article](https://www.asyncapi.com/blog/release-notes-2.4.0).

![image](https://user-images.githubusercontent.com/193286/166421534-d92ff2fa-08f6-461a-a6a6-485ac888ca0f.png)

Unfortunately accord

[2022-05-03 08:13] char0n commented on #775
I've issued a [PR](https://github.com/asyncapi/spec/pull/776) that remedies the situation and would probably suggest to go for **2.4.1** as soon as possible.

[2022-05-03 15:46] jonaslagoni commented on #94
Of course! What time and date would you suggest?

[2022-05-03 15:46] realmohan001 commented on #774
@dalelane : Thank you that was the issue. I had to URl encode the key/secret, as it has special characters.

[2022-05-04 07:51] char0n commented on #699
[PR](https://github.com/asyncapi/spec/pull/777) has been issued for [next-major-spec](https://github.com/asyncapi/spec/tree/next-major-spec) branch.

[2022-05-04 07:55] char0n commented on #691
I've processed :
- https://github.com/asyncapi/spec/issues/699

PR issued: https://github.com/asyncapi/spec/pull/777

[2022-05-04 08:14] char0n commented on #612
This is now limited to version to specification version `>= 2.0.0 <= 3.0.0`. The reason is https://github.com/asyncapi/spec/issues/699, which removes the `$ref` field from `Channel Item Object`.

[2022-05-04 08:20] magicmatatjahu opened #778 "[3.0.0] Allow references to be used in any part of the specification"
The current version of AsyncAPI (2.x.x) has strictly defined places where users can use references in a document. We should extend the available places to every part of AsyncAPI.

Benefits:
- no PR and issue like https://github.com/asyncapi/spec/issues/775 (after every release we have at least 1 because we forgot to update places where we can use references)
 - easier support in tooling - currentl

[2022-05-04 08:22] magicmatatjahu commented on #691
@jonaslagoni Could you add to the list [[3.0.0] Allow references to be used in any part of the specification](https://github.com/asyncapi/spec/issues/778) I can me mentor it of course.

[2022-05-04 09:15] char0n commented on #778
HI @magicmatatjahu,

Very quickly couple of points I can think of:

---

The `Reference Object` comes originally from OpenAPI spec and as far as I understand is was introduced to have full control over how definitions written using the spec look like (structure) and which parts do make sense to be reusable and which not.

---

This proposal will IMHO introduce problematic ambiguity. We'll also hav

[2022-05-04 09:54] magicmatatjahu commented on #778
@char0n Thanks for comment.

I had in mind that when I wrote issue, but in my opinion, saying which things should be reusable and which should not only causes misunderstanding of the community. In my opinion every part should be reusable without exception. If someone creates very complex dependencies that are difficult to read/resolve, that's the user's problem. People who understand how reference

[2022-05-04 14:23] jonaslagoni commented on #691
@char0n updated 👍

@magicmatatjahu added 👍

[2022-05-04 15:37] char0n opened #780 "Single source of truth"
Sometimes there are situations when it is not clear if the source of truth should be the JSON Schema or the markdown specification. To remedy this situation, we can explicitly state following in main README file:

[code]

Whenever there is a conflict, the specification itself is the source of truth before anything else.

[2022-05-04 16:05] char0n commented on #674
Yep, I expect the markdown file to be the single source of truth. I've created https://github.com/asyncapi/spec/issues/780 to make it explicit.

Cool, I've created a [PR](https://github.com/asyncapi/spec/pull/782) that remedies the unclarity.

[2022-05-05 04:50] jonaslagoni commented on #94
Meeting scheduled: https://github.com/asyncapi/community/issues/352

cc @smarek in case you still want to champion it 🙂

[2022-05-05 14:04] char0n commented on #780
I guess that's automatically implied that specification itself is the single source of truth. Would be quite uncommon to have this explicitly defined in the specification itself. IMHO having it in README suffice, but don't mind having it in specification itself as well, although as I mentioned it's uncommon.

[2022-05-05 15:49] smoya commented on #734
I created a PR updating the `RELEASE_PROCESS.md` https://github.com/asyncapi/spec/pull/785

[2022-05-05 15:53] smoya opened #786 "Create `next-spec` and `next-major-spec` branches"
Part of https://github.com/asyncapi/spec/issues/734#issuecomment-1077455953.

I'm asking Code Owners to create the following branches:

- `next-spec`
- `next-major-spec`

[2022-05-05 15:56] smoya commented on #734
The following issues asking Code Owners to create those branches have been created:

- spec: https://github.com/asyncapi/spec/issues/786
- spec-json-schemas: https://github.com/asyncapi/spec-json-schemas/issues/214
- parser-js: https://github.com/asyncapi/parser-js/issues/545

[2022-05-05 16:11] smoya commented on #734
The following PR has been created updating `package.json` to reflect the new branch strategy:

- spec-json-schemas: https://github.com/asyncapi/spec-json-schemas/pull/215
- parser-js: https://github.com/asyncapi/parser-js/pull/546

For the `spec` repo, the same PR that contains the changes for the `RELEASE_PROCESS.md` contains the change, but this time in the `.releaserc` file: https://github.com/

[2022-05-05 23:41] Crain-32 opened #787 "Proper STOMP Protocol Bindings"
Please note, this Issue can be seen as an Extension of [Issue 457](https://github.com/asyncapi/spec/issues/457), however due to the age of the original Issue and difference in my approach, I've created this as a separate Issue.

### Why Begin Including STOMP? ###
STOMP as a WebSocket protocol is slowly increasing in use and availability. The following are only a few examples of Enterprise-Ready Op

[2022-05-06 07:47] char0n commented on #780
Just an idea: how about mentioning it in README and the website? I understand that the website is generated from the markdown document, so we just add the sentence to the website templates as well.

[2022-05-06 07:57] smoya commented on #780
Sure, this is what I meant by:

[2022-05-06 08:08] char0n commented on #778
Hi @magicmatatjahu,

I wonder what are cases of community confusion? Could you provide example issues?

Specification now clearly states where references are allowed and how they are resolved. After https://github.com/asyncapi/spec/pull/782 and https://github.com/asyncapi/spec/pull/779 are accepted, it is crystal clear how references are handled and there is no question about they can be used and

[2022-05-09 11:39] derberg commented on #624
We definitely need a champion that wants to drive the change, come up with proposal, respond to feedback, and present it to others

[2022-05-09 11:54] dret commented on #520
Is this one still active? I went through 2.4.0 right now and still couldn't quite figure out what these word mean. The one-sentence descriptions given in https://www.asyncapi.com/docs/specifications/v2.4.0#channelsObject are not explaining the semantics and there doesn't seem to be a place in the spec that does? Maybe this has caused sufficient confusion to warrant a section in https://www.asyncap

[2022-05-09 14:50] derberg opened #789 "Extend workflow responsible for spec update in website repo with `button` addition"
With each release now, we would have to do https://github.com/asyncapi/website/pull/720

The manual changes introduced in ☝🏼 PR should be automated, basically [this](https://github.com/asyncapi/spec/blob/master/.github/workflows/new-spec-release.yml) workflow needs to be extended.

[2022-05-09 18:42] smoya commented on #618
I gave another thought to the topic of using `messageId` for defining the list of messages flowing through a channel inside `channels.{channel}.messages`.

Let me first add an example of such an implementation, including some comments on critical areas I consider:

[code]

[code]

Some things I'm concerned of:

- The fact we are referring to messages by their `messageId`, but to channels by their

[2022-05-10 08:48] buehlefs commented on #618
@smoya Since most of the recently discussed features involve having multiple files (one or more as a common component library) why not have `require` or `import` statements to explicitly define which files need to be loaded? Then message ids are enough to reliably identify messages.
Your proposal is similar to my thoughts but uses the message ids directly and does not allow for open message lists

[2022-05-10 12:31] derberg commented on #786
- created `next-spec`
- `next-major-spec` was there already

[2022-05-10 12:31] #786 closed

[2022-05-10 13:22] #734 closed, assigned to nobody

[2022-05-10 13:25] derberg commented on #787
Hey @Crain-32. Thanks a lot for great quality issue 🙇🏼

I understand you want to basically contribute to https://github.com/asyncapi/bindings/tree/master/stomp

Do you have an example AsyncAPI file with your proposed bindings applied?

[2022-05-10 15:07] smoya commented on #735
With https://github.com/asyncapi/community/discussions/357, I think I have finished all the work I planned to do regarding 2.4.

Anything to add? Can we close this issue instead? cc @dalelane @fmvilas @derberg

[2022-05-10 22:03] magicmatatjahu opened #795 "[3.0.0] Introduce `Info Item Object`"
I noticed that we have some inconsistencies in describing the metadata for the 4 main elements of the AsyncAPI specification: servers, channels, operations, and messages (we can also treat schemas as 5 element). In `Server Object` we can only define `description`, in the `Channel Object` also only `description`, in the `Operation Object` we can define `description`, `operationId `, `summary`, `tag

[2022-05-11 09:17] udamir commented on #754
I also want to propose [api-diff-viewer](https://www.npmjs.com/package/api-diff-viewer) -  React component to view the difference between two JsonSchema or API specifications, including AsyncAPI specs.

Storybook: https://api-diff-viewer.vercel.app
Sources and documentation: https://github.com/udamir/api-diff-viewer

[2022-05-14 19:07] Crain-32 commented on #787
Hey @derberg, sorry for taking a while to response, I've been out of town. (And thank you for calling the issue quality, I really wanted to make it count, since I know STOMP has been brought up before.)

I do not have an example AsyncAPI file, since I wasn't completely positive on how we wanted to integrate it. The difference between `Server`/`Channel`/`Operator`/`Message` Bindings are not clearly

[2022-05-14 19:42] oogetyboogety commented on #762
Yes. This is what I was originally thinking when using the spec in this way for my project.

[2022-05-16 08:56] jonaslagoni commented on #519
This is no longer relevant.

[2022-05-16 08:56] #519 closed

[2022-05-16 09:09] derberg commented on #645
afaik it is done already, latest release looks pretty neat and Sergio also update release process doc

[2022-05-16 09:09] #645 closed

[2022-05-16 14:28] dret commented on #520
On 2022-05-16 14:01, Jonas Lagoni wrote:

i can give it a try. what's the best process?

that's very good to see!

[2022-05-16 14:40] jonaslagoni commented on #520
Awesome 👍

There is no one way, but I would suggest having something concrete suggestion to discuss around, so creating a PR that applies the changes you see as being a better description 🙂 You can do that by editing the [markdown file of the AsyncAPI specification](https://github.com/asyncapi/spec/blob/master/spec/asyncapi.md).

Not sure if it needs to wait until the next spec version up to the c

[2022-05-16 19:00] GreenRover commented on #94
## Collected use cases:

### A: Topic based messaging using a broker:  Well defined response topic + "correlationId".

There you have a well defined response topic. That could be found in spec.
As well as a "correlationId" in request message(header/body).
The correlationId is a random id generated by the requestor.
And have to copied to the response messages, by the responder.
To let the requestor

[2022-05-17 09:25] jonaslagoni commented on #691
The last blocker before RFC can move forward is https://github.com/asyncapi/spec-json-schemas/pull/221

cc code owners @derberg @fmvilas @dalelane

[2022-05-17 20:44] fmvilas commented on #94
Thanks a lot for this breakdown @GreenRover 👏 This is definitely what we need in order to move forward. IIRC, we should also look into JSON RPC as a use case so it can be covered as well.

[2022-05-17 20:58] GreenRover commented on #94
Is there some one out in the wild that can provide input for JSON RPC? I never used it before. So if there is no one i have to start reading.

[2022-05-17 21:01] fmvilas commented on #788
I just left a comment at https://github.com/asyncapi/spec/pull/790#pullrequestreview-976083994 explaining why this shouldn't be done in the spec. Please remember the spec is a normative document and not strictly documentation as we usually understand it.

[2022-05-17 21:02] fmvilas commented on #94
Not myself but there was a person in the call who said they were using it. Maybe they join next call 🤔

[2022-05-17 21:24] natcl commented on #94
Yes that was me, I'll describe our use case ASAP (probably tomorrow)

[2022-05-17 21:29] natcl commented on #94
@GreenRover in the meantime if your curious the spec is here ans it's fairly simple:
https://www.jsonrpc.org/specification

[2022-05-19 08:13] derberg commented on #754
Hey @udamir what do you mean by `I want to propose` ?

do you mean put it on the website, on list of tools? or host it under `asyncapi` organization and develop it further here with the community?

[2022-05-19 08:17] udamir commented on #754
Hi, put it in the website only. My library is generic and the classification rules are not limited by the AsyncAPI specification.

[2022-05-19 08:44] derberg commented on #754
@udamir then go ahead, feel free to [add it to the list](https://github.com/asyncapi/website/blob/master/pages/docs/community/tooling.md) through a PR.

You can also have a look at https://github.com/asyncapi/website/issues/383 to see and comment on our plans to improve tools listing.

[2022-05-19 18:43] natcl commented on #94
So here is how we currently use JSON RPC 2.0:

We have servers that can handle multiple methods. For sake of example let's say our server supports the following 2 methods:

- addUser
- deleteUser

Our server listens over MQTT for JSON RPC requests at the following topic:
`serverName/request`

For MQTT 5, the server will reply to the topic specified by the client in the responseTopic property. This

[2022-05-20 08:12] magicmatatjahu opened #799 "[3.0.0] External docs/Contact as collection"
Currently, where `External Docs Object` and `Contact Object` (in `Info Object`) can be defined, only one object of this type can be defined. I wonder if we should allow in version `3.0.0` to define `externalDocs` and `contact` as collections. I don't have any "production" use case, however I am thinking out loud. I wonder how the specification might be developed in the coming months/years and we s

[2022-05-22 20:45] magicmatatjahu commented on #583
Still relevant.

[2022-05-22 20:46] magicmatatjahu commented on #622
Still relevant.

[2022-05-23 10:37] udamir commented on #754
@derberg
I also can propose to put [wsapix](https://github.com/udamir/wsapix) in to community/tooling section on AsyncApi website. Wsapix is Nodejs framework for WS API with runtime AsyncAPI generation.

[2022-05-23 11:19] derberg commented on #754
@udamir makes sense to me

[2022-05-23 12:32] magicmatatjahu commented on #754
@udamir You can create PR for new tool, but please make it in separate PR, ok? :)

[2022-05-23 16:54] derberg commented on #587
@gregmeldrum @jonaslagoni is it something that would be part of `address` from the proposal of new 3.0 spec?

[2022-05-23 16:55] derberg commented on #599
@jessemenning do you want to drive it further?

[2022-05-23 18:35] Crain-32 commented on #787
@derberg Hey, just wanted to follow up on the above.

As mentioned, I don't have a direct example file, however if you want me to make one, feel free to ask. I'd like to work on this again in the coming week, as we're still working on supporting STOMP in springwolf, but we can't complete that till the official spec is created.

[2022-05-24 06:27] GreenRover commented on #94
## results of call from 23. May

### Sample for use case A, D
[code]

- The request will be send to topic/channel "user.creation.channel"
- The request message needs to have a "correlationId" header
- The response will be send to topic/channel "user.creation.response.channel"
- The response message needs to have a "correlationId" header
- The request and response message have independent well defi

[2022-05-24 09:41] GreenRover commented on #94
## results of call from 23. May, off topic: message / channel

In async api v2 -> v3 the relation between `channel`, `message`, `operation` will change.

### In v3: channel

A `channel` has a reference can transport multiple messages.

[code]

In v2->v3 there is a bigger change:

the channel name `userCreationChannel` and topic `user.creation.channel`
is not longer the same field.

[code]

For req

[2022-05-24 11:30] derberg commented on #787
@Crain-32 yeah the example with how you see binding in use would help a lot.

I'm super interested in this subject because when I was working on [this article](https://www.asyncapi.com/blog/websocket-part2) using [Kraken API](https://docs.kraken.com/websockets/) it was a first time when I saw folks using `Websocket` only as a connection and then some specific protocol for messages exchange. I'm st

[2022-05-24 12:03] jonaslagoni commented on #691
@GreenRover I added you as champion for request/reply 🙂

[2022-05-24 17:32] murari-goswami commented on #795
I like the idea here. This standardization will give more structure to the metadata for the core objects.

[2022-05-24 23:57] Crain-32 commented on #787
@derberg STOMP is in the club that just wants the connection. It's more of bi-directional protocol at heart, like your article mentioned though, Websocket is the defacto bi-directional communication. Regarding Kraken, that looks like a Custom protocol that just passes JSON objects around. I didn't look into it too much though, just enough to say it is not STOMP.

For the example, I took one of the

[2022-05-25 09:59] magicmatatjahu commented on #795
@murari-goswami Thanks! We don't know if it will come in this form or rather be a composite, but we want to unify the metadata for core objects :)

[2022-05-26 02:09] #754 closed

[2022-05-26 19:03] Crain-32 commented on #787
@derberg I was thinking about how to make the bindings easier to categorize, and I think part of the issue is there isn't a good separation between what should be assumed about the protocol by someone using a Binding, and what needs to be specified by the Binding.

For example when creating a basic [Java SpringBoot STOMP Broker](https://docs.spring.io/spring-framework/docs/current/reference/html/w

[2022-05-30 09:03] magicmatatjahu commented on #507
@derberg Could you unstale that issue. We have discussed solution for it :)

[2022-06-02 15:19] ivangsa commented on #618
Hi,

I'm truly looking forward this way of separating channels from applications.

This could make describing integration patterns like SAGAs very very straight forward:

- one common saga.asyncapi.yml file for the server/s and channel/s for the saga
- one <app>.asyncapi.yml file for each application involved, and with the 'message override' to specify which of all the messages available in the ch

[2022-06-06 08:58] fmvilas commented on #618
Thanks for sharing these examples @ivangsa, they're very useful. You may want to join the [Spec 3.0 meeting this Wednesday](https://github.com/asyncapi/community/issues/378) and/or the [Request/Reply discussion this Thursday](https://github.com/asyncapi/community/issues/377).

[2022-06-07 10:54] derberg commented on #585
closing as there is no further response from requestor

[2022-06-07 10:54] #585 closed

[2022-06-07 11:04] vhe1 commented on #618
### Publish/subscribe vs send/receive,

Just a layman's opinion but I think both pairs are equally wrong because the grammar is misleading.
send/receive is easy to understand for me as from the client perspective because I can add a mental "please" in front of them and the grammar matches. Same for "publish/subscribe"

If you want to specify it from the application (server) perspective, it would b

[2022-06-07 12:39] derberg commented on #688
Contributors are welcome 🙏🏼

[2022-06-08 14:24] jonaslagoni commented on #691
cc current champions:
@magicmatatjahu @smoya @jessemenning @Fannon @damaru-inc @char0n @GreenRover

We should be completely ready to accept the 3.0 changes into the spec, JSON Schema documents, and parser so you can now move your [RFC forwards](https://github.com/asyncapi/spec/blob/master/CONTRIBUTING.md#rfc-contribution-stages) 🎉

If you don't know how to move the issues forward, please reach out

[2022-06-09 10:28] fmvilas commented on #735
Great work, @smoya! 👏 👏

[2022-06-09 10:28] #735 closed

[2022-06-09 16:59] GreenRover commented on #94
**Example:**

Converted this 2.0.0 spec to 3.0.0
https://www.asyncapi.com/blog/websocket-part2

[code]

[2022-06-10 10:15] smoya commented on #661
@dalelane @fmvilas @derberg would you mind removing the `stale` label? thanks

[2022-06-10 15:15] smoya commented on #795
I like the idea of having a standard object with all this info. Except for the ID.
I'm going to drop why I think `id` should be considered as part of each object and not under `info` field:

- `id` doesn't give information about the object but the identifier.
- The rest of the fields could be reused from a common shared object (i.e. `common.yaml`) and will make sense. However, Id's are unique acro

[2022-06-10 16:09] magicmatatjahu commented on #795
@smoya `id` is removed -> https://github.com/asyncapi/spec/pull/796 no worries :)

[2022-06-13 08:38] VisualBean opened #805 "Servers Object Question"
### Is the Servers object, to be considered an Object or a Collection?

Looking at the OpenAPI Documentation, Servers can be either a single object
[code]

or a collection
[code]

But looking at the documentation for AsyncAPI it is always an object.
[code]

Is it merely a documentation mistake, or is it to be consideren an object always?
- I was hoping that AsyncAPI would stay consistent with Open

[2022-06-13 08:40] magicmatatjahu commented on #805
@VisualBean Hi! Servers in the AsyncAPI are a map, where the key is the "name" of the server and the value is the detail of server. We don't use semantic from OpenAPI in `servers` section.

[2022-06-13 08:41] VisualBean commented on #805
Thank you for the quick reply

[2022-06-13 08:51] magicmatatjahu commented on #805
@VisualBean No problem :) I think that we can close that issue, yes?

For you know, we try to reuse the object structures from OpenAPI, but our servers have information about the protocol, its version and bindings and this structure has to be different than OpenAPI introduces.

@derberg Could you close it?

[2022-06-16 06:41] gabormagyar commented on #750
Right now I have most of my channels looking like this:

[code]

`mixin` is provided by [boats](https://www.npmjs.com/package/boats), and I do a separate postprocess step on the final yaml to take the top level tags and copy them into the publish and subscribe operations. My output looks like this:

[code]

[2022-06-16 14:24] smoya commented on #795
Then please update the description of this issue which still mentions it.

[2022-06-16 20:20] fmvilas commented on #663
Folks, on #806 I decided to define the `channel` field in the Operation Object as a Reference Object. This way:

[code]

Please note that I'm not saying we should allow people to define channels inside the `channel` field. For instance, I'm not saying we should allow this:

[code]

If we accept ONLY a `$ref` field there:

* IDEs will still recognize them, letting us better navigate documents with

[2022-06-17 10:47] smoya commented on #663
Do you mean some editors understand an AsyncAPI document (yaml) containing the `$ref`? I'm asking because I'm a bit confused., not saying this is not happening.

By annotating you mean adding a new field like `id` with the stored value (prior to dereferencing)?

[2022-06-17 15:14] smoya commented on #654
I'm going to create an RFC adding Tags to the Server Object. Candidate for 2.5.0 version of the spec.

[2022-06-17 16:03] smoya commented on #654
PRs adding support for Tags at Server level:

- Spec https://github.com/asyncapi/spec/pull/809
- JSON Schemas: https://github.com/asyncapi/spec-json-schemas/pull/232
- Parser-JS: https://github.com/asyncapi/parser-js/pull/565

[2022-06-18 16:04] fmvilas commented on #663
IDEs with JSON Schema support understand `$ref` and some even let you navigate to the place the `$ref` is pointing to. They don't understand AsyncAPI but the plugins think it's a JSON Schema document and you can leverage some functionalities.

Yes, that's exactly what I meant.

[2022-06-21 04:37] Fannon commented on #691
Ok, I've changed the target branch here: https://github.com/asyncapi/spec/pull/532/files

Since we've had a few discussions on how it should be and we were not completely sure, I might create an alternative PR with a solution proposal.

[2022-06-22 12:43] derberg commented on #663
What do you mean by obtaining the ID before dereferencing? Like parsing ref address and simply getting last string after splitting with "/" or ?

[2022-06-22 17:48] fmvilas opened #811 "Creating the AsyncAPI Domain specification"
## TL;DR

1. `channels` in the good old AsyncAPI document will now refer only to channels exposed and owned by the application, like WebSocket or Socket.IO channels, and HTTP Server-Sent Events (I can't actually think of any other kind of channel an application can expose, maybe IPC?).
2. Local `servers` can only use the HTTP or WS protocol. Remote servers can be of any kind.
3. This proposal intr

[2022-06-23 14:24] upsampled opened #813 "Can a full REST API, assume all the HTTP Methods are used, for a single URL be documented?"
I like AsyncAPI because it embraces multiple protocols, specifically websockets which i use often. The problem is that I still have the document the legacy REST APIs in order to extend them and I cannot document all the HTTP Methods they support.

[code]

Right now I have only been able to assign one HTTP method to subscribe and publish. Subscribe can probably just stay associated with GET, but pu

[2022-06-24 07:01] jemacineiras opened #814 "Adding some new tools to the list"
Hi community,

here at Corunet by Sngular are developing some interesting tools using your awesome specification. They are close to mature, so we want to share them with you. If you consider them interesting to add them to your available tool list, we will be pleased.

Maven plugin to generate Spring cloud stream code base on Asyncapi and OpenApi
https://github.com/corunet/scs-multiapi-plugin

Mav

[2022-06-24 09:24] magicmatatjahu commented on #814
@jemacineiras Hi! We are happy with these projects! If you wanna add them to our list, you should update that md file and create PR https://github.com/asyncapi/website/blob/master/pages/docs/tools/index.md Let me know if you will have any problems :) Of course, if you won't find appropriate category, please create the new one.

[2022-06-24 10:36] fmvilas commented on #814
Side comment: really cool to see my fellow Spanish devs contributing to AsyncAPI 🙌

[2022-06-25 22:22] saigoud25 commented on #789
hey, I want to work on this. Can you please specify on which file to work?

[2022-06-27 09:57] derberg commented on #789
@saigoud25 Thanks!

edit must be done in these 2 files:
- https://github.com/asyncapi/spec/blob/master/.github/workflows/new-spec-release.yml
- https://github.com/asyncapi/spec/blob/master/.github/workflows/update-spec.yaml

father step "Copy Spec file from Current Repo to Another" and before table of contents removal. Best if you refactor https://github.com/asyncapi/spec/blob/master/.github/scrip

[2022-07-04 06:26] jemacineiras commented on #814
Hi @akshatnema,

The proposed solution looks interesting, if the tool is only using asyncapi, but in our case, our tools give support for openapi and asyncapi, and we don't like to attach the project to only one API solution, just in case openapi decide the same, or we want to integrate future solutions...

So we prefer the second approach, what your thoughts about?

Cheers!

[2022-07-04 07:26] akshatnema commented on #814
Fine, thanks for your feedback. So, if you prefer the second approach, you need to add the details of your tool in a markdown file in the website in the website, with the appropriate technologies used and the links of the tool. That markdown information will be converted to JSON and then rendered on the website as other tools. Right now, the format of the markdown file has not been decided yet and

[2022-07-04 08:06] fmvilas commented on #663
Yes, exactly that.

[2022-07-04 10:43] fmvilas commented on #787
I fully agree. Thanks for the great explanation.

@smoya What about using something like `ws+stomp` as the protocol? This would make it clear that it's using a combination of both. In this case, should we make it clear that the protocol field could be a composition of protocols separated by `+`?

[2022-07-04 16:22] lorenzsimon opened #816 "Add a new project to the community tools list"
Hey AsyncAPI community 👋

I would like to share a AsyncAPI tool I have been working on for some time:
[Kotlin AsyncAPI](https://github.com/OpenFolder/kotlin-asyncapi) is a Kotlin builder DSL with some extending modules that makes writing and maintaining AsyncAPI documentation as easy as possible. The Kotlin DSL and Spring Boot Web integration is already implemented and released 🎉

Next I am going

[2022-07-05 08:04] magicmatatjahu commented on #816
@lorenzsimon Hi! Awesome project! Do you wanna add that tool to our list? https://github.com/asyncapi/website/blob/master/pages/docs/tools/index.md

However I think that we should transfer that issue to the `community` repo or to the `website`.

cc @derberg @fmvilas

[2022-07-05 09:29] smoya commented on #787
I thought about that possible solution but then we would need to somehow extend the STOMP bindings from the Websockets one, isn't? It adds more complexity; not saying it is a bad solution at all.

[2022-07-05 11:15] VisualBean opened #817 "schema object: type as string | array, plan to align with OpenAPI Schema Object?"
Background:
I am working on a serializer/deserializer library for AsyncAPI particularly in the Dotnet space.

The JsonSchema validation spec specifies the following:

The value of this keyword MUST be either a string or an array. If it is an array, elements of the array MUST be strings and MUST be unique.

The OpenAPI specification, has deliberately mentioned Type only being supported as a string

[2022-07-05 11:24] magicmatatjahu commented on #817
@VisualBean OpenAPIs < 3.1.0 use their own JSON Schema (based on some old draft, probably 04), but 3.1.0 uses the latest one, when you can define types as array (https://github.com/OAI/OpenAPI-Specification/blob/main/versions/3.1.0.md#schema-object). In AsyncAPI we use JSON Schema draft 07 (with our additional keywords like externalDocs, deprecated and discriminator). We don't have a plan to align

[2022-07-05 11:26] VisualBean commented on #817
I see i was looking at older versions.

Thanks for the clarification

[2022-07-05 11:30] magicmatatjahu commented on #817
@derberg @fmvilas Could someone from you close that issue?

[2022-07-05 14:00] #817 closed

[2022-07-05 14:35] derberg commented on #811
oh, new spec 👀

`brokers` would be only for this new spec, right?

I'm not 100% opinionated yet, but my thoughts so far are `1+ specs will complicate a lot`. Because we already know users ignore that AsyncAPI is only for describing an application interface from user perspective. They do it simply because this way they can still use some of the tools that we produce, like docs generation.

Do you m

[2022-07-05 19:32] derberg commented on #787
let me add a bit more to this discussion.

but first in short: why not adding a new `subprotocol` (or actually `subprotocols` at [technically more than one can be supported](https://developer.mozilla.org/en-US/docs/Web/HTTP/Protocol_upgrade_mechanism))  field to WebSocket binding + specify separately all fields needed for `stomp` binding separately. And in `subprotocol` we would say what protocol

[2022-07-05 20:45] smoya commented on #787
Isn't that what I mentioned in https://github.com/asyncapi/spec/issues/787#issuecomment-1167538551 ?

[2022-07-05 21:58] Crain-32 commented on #787
@smoya Apologizes for getting back to you so late on this! I completely forgot your last comment, so this latest spark in the conversation reminded me.

The clarification about the STOMP being the messaging framework, while WebSockets serve as the transportation is a good one, thanks for bringing that up.

I'm torn between the implementation examples provided in comment [#787](https://github.com/a

[2022-07-06 03:07] nicholasdgoodman commented on #697
A somewhat outsider perspective - and playing the devil's advocate here - is what exactly is the pressing need to declare multiple schemas of the same object type within a single Async API document?

AFAIK the sister spec of OpenAPI does not have nor need this capability, and I see nothing particularly different about an event-driven world that warrants this added complexity and capability.

In th

[2022-07-06 10:43] smoya commented on #787
No problem @Crain-32! I edited my [previous comment](https://github.com/asyncapi/spec/issues/787#issuecomment-1175481699) to clarify that my concern was in sync with yours. The definition says that the protocol defines how do you interchange messages (API), not how you connect. So indeed, **STOMP** seems to be the protocol in this case.

However, the `protocol` field on [ServerObject](https://www.

[2022-07-06 12:21] derberg commented on #787
@smoya

I understood from your comment, that `ws` is next to `stomp` (technically in the document, as 2 separate bindings). While in my comment I write that `stomp` and others could be referenced inside `ws` in a new field called `subprotocols`.

On a server level, you need information on how to connect:
- `headers` that are now in `ws` binding should go to `Server Object` and this is where you sp

[2022-07-07 00:20] #601 closed

[2022-07-07 11:13] smoya commented on #739
Do you agree we can then close this issue @mgiovann ?

[2022-07-07 13:15] florintene opened #819 "Discriminator usage in combination with oneOf"
Hi all,

   In the current specification version, the '_discriminator_' is mainly associated with the '_allOf_' in the specification itself and the examples.

   I presume this is due/linked to the Swagger 2.x documentation, where only _AllOf_ was supported ([link](https://swagger.io/specification/v2/)).
   With the OAS 3.x change, additional subschema keywords have been introduced, like oneOf, an

[2022-07-07 13:43] smoya commented on #813
If you agree @upsampled, could we close this issue? @derberg

[2022-07-07 15:08] upsampled commented on #813
Closing ticket but would definitely suggest this be marked as a use case/example for the v3 release. Lots of REST projects out there that could be extended cleanly with Async API.

[2022-07-07 15:08] #813 closed

[2022-07-07 18:08] fmvilas commented on #811
Yes, but that's only the key name. They're Server Objects.

Precisely. People are already doing it by misusing the spec. Let's give them a proper format for that. I don't think the complexity will grow a lot because this new spec is made of existing definitions in the spec. It's just another file with a new name to make it explicit that it's about a group of things and not about an application. Pr

[2022-07-08 15:15] smoya commented on #813
@upsampled there is some WIP PR that might solve your issue: https://github.com/asyncapi/bindings/pull/131

[2022-07-11 10:51] smoya commented on #811
I agree is not a very common use case but what about the [Event-Gateway](https://github.com/asyncapi/event-gateway/blob/master/deployments/k8s/event-gateway-demo/event-gateway-demo.asyncapi.yaml), where the application (the event-gateway running app) exposes a Kafka proxy? The protocol cannot be only HTTP or WS.
In this case, the app defines a **local server** with `kafka` protocol, that on intern

[2022-07-11 13:29] smoya commented on #691
@jonaslagoni This is something we should have also for 3.0 https://github.com/asyncapi/website/issues/870

[2022-07-11 15:04] smoya commented on #691
@jonaslagoni Another thing I would like to add to the list: https://github.com/asyncapi/parser-api/issues/69

[2022-07-11 15:42] jonaslagoni commented on #691
@smoya added 👍

[2022-07-12 10:35] smoya commented on #787
Now I realize you meant to use `$ref` under `subprotocols` field to reference the `stomp` protocol declared somewhere else. I like it 👍. However, we need to clarify a couple of behaviors that might create confusion. First, let me add a simple example:

[code]

Notice the `version` field in the `stomp` protocol.  Somehow, b It means the header in the `ws first connection `Sec-WebSocket-Protocol` sh

[2022-07-13 02:17] carolgschwend commented on #622
Been watching this issue for sometime.  AsyncAPI spec + protobuf schemas + kafka.  Is this possible?  Ideally we could define the schema as protobuf, provide mock message examples in json format, and have tools understand to serialize/deserialize messages as protobuf.

[2022-07-13 15:08] smoya opened #821 "Work on 2.4.1 release"
Release 2.4.1 is scheduled for July 2022

### Detailed info:
* https://github.com/asyncapi/spec/blob/master/RELEASE_PROCESS.md

### Potential work to be included in this version

#### Accepted

- [ ] https://github.com/asyncapi/spec/pull/776

### Progress:
~- [ ] Create release branches~
~- [ ] Update release branches with new versions~
~- [ ] Update default branches with release branch name~
~- [

[2022-07-13 15:24] smoya commented on #821
Please correct me if I'm wrong @derberg, this is our first minor version release. Meaning we should make some decisions on how we want to approach this.

In order to release, technically all we need to is to merge https://github.com/asyncapi/spec/pull/776. This will trigger `2.4.1` version.
However, that's not all. There are some other tasks, based on [RELEASE_PROCESS.md](https://github.com/asynca

[2022-07-13 20:32] dalelane commented on #821
In theory, I think it's reasonable to do a subset to try and keep patch versions as cheap as possible. But in practice, other than the blog post, I don't think there is much that we can really skip.

[2022-07-14 07:04] derberg commented on #821
looking at the list, I would ask is it worth the effort if we have 2.5 scheduled for September, so 1.5 month away

[2022-07-14 08:28] smoya commented on #821
For me, it is worth it if we end up defining the process for patch releases. It is something we could have at some point anyway (a more urgent fix might be needed eventually, for example).

[2022-07-14 17:42] micro-jumbo opened #822 "Java generator always adds @Json annotations for enums"
### Describe the bug
Java generator always adds @Json annotations for enums

### To Reproduce
For document:
[code]

and generator:
[code]

generated `SuccessMessageMessage` `enum` contains Jackson annotations (`@JsonValue` and `@JsonCreator`), but it shouldn't:
[code]

These should be generated only when Jackson annotations are enabled.

[2022-07-14 18:31] jonaslagoni commented on #822
Issue moved to [asyncapi/modelina #812](https://github.com/asyncapi/modelina/issues/812) via [**ZenHub**](https://www.zenhub.com/)

[2022-07-14 18:32] jonaslagoni commented on #822
Can you close down this issue @micro-jumbo, its not related to the spec 🙂

[2022-07-15 12:44] lindhe commented on #738
No please :(

[2022-07-18 16:43] fmvilas commented on #821
I think it's very unlikely we'll have an **urgent** patch release to do in the future. The spec shouldn't have such urgency IMHO. Dunno, not worth the effort for me.

[2022-07-19 11:31] derberg commented on #663
But then we need to code some custom behavior before dereferencing and somewhere inside a document store this information. Where would it be? not `channel` because afaik dereferencing would remove it.

Not to mention we loose consistency across spec, in channel, server is a list of server ids, and all suddenly in operation, we use `$ref` (with restrictions) instead of a list of channel ids

[2022-07-19 13:57] derberg commented on #811
More and more I'm thinking about, I think it will complicate things, and that we do not really need it.

1. Complexity by adding new spec

I just keep thinking about examples out there in the wild and the only one that comes to my mind is JSON Schema. So JSON Schema is for validation, but people (including us) misuse it by using it for code generation. Community introduced new spec for that but it

[2022-07-20 09:17] fmvilas commented on #663
We would need to hook into the dereferencing process to be able to annotate the resulting object with metadata from the parser. Should not be difficult to do.

Yes, @smoya mentioned it here: https://github.com/asyncapi/spec/pull/806#discussion_r900012119.

I'm not in love with any of the solutions. However, the one I proposed will instantly be recognized as a reference by code editors. Referencing

[2022-07-20 14:45] smoya commented on #623
@fmvilas @derberg could you please remove the `stale` label? https://github.com/asyncapi/spec/issues/654 might fix this.

[2022-07-20 17:16] fmvilas commented on #623
Done. Weird, supposedly, just leaving a comment here should remove the stale label 🤔 Or maybe I dreamed it 😄

[2022-07-20 17:26] smoya commented on #663
I'm concerned about the fact JSON Pointers change whenever the user moves the object the pointer points to. I.e.

`#/channels/userSignedUp` -> `#/components/channels/userSignedUp`, but resulting in the same object. This plays against using `$ref` but in favor of using IDs, like it will be `userSignedUp`.

I'm not saying I like one solution more than the other, but trying to get all possible constr

[2022-07-21 00:19] #655 closed

[2022-07-21 00:19] #652 closed

[2022-07-21 09:15] derberg commented on #623
@fmvilas not dream, it is true 😄 . Just remember that stale workflow runs just once a day. So we have `remove-stale-when-updated` but you need to wait until next schedule 🤷🏼

Example: https://github.com/asyncapi/spec/issues/738#issuecomment-1185510041

So better to unstale by comment as it works and kinda makes you think about the update info

[2022-07-21 11:44] fmvilas commented on #663
That's a good point, @smoya. Taking into account that `components` is a place to put optional stuff that may or may not be implemented, making an operation point to a channel inside `components` might mean that the operation (something that for sure needs to be implemented by the application) could be pointing to a resource (the channel) that may not exist/be implemented because it's under `compon

[2022-07-21 15:36] #658 closed

[2022-07-22 00:21] #596 closed

[2022-07-22 08:56] smoya commented on #596
![2022-07-22 at 08 45 58](https://user-images.githubusercontent.com/1083296/180401217-7f631b1f-5c2f-4202-b78a-64db6a818610.png)
Not expected to be closed as `completed` 🤷. I created a PR for fixing that https://github.com/asyncapi/.github/pull/174 cc @derberg

[2022-07-22 10:12] smoya commented on #663
The point is that by using JSON Pointer as the ID of the object, we are losing uniqueness identification of objects. In favor of using the ID instead, we could say two objects (i.e. channels) cannot be defined with the same ID, no matters the location (root channels or the components), which can also be done I guess with a Spectral rule.

Going further, considering @fmvilas suggestion on [Creating

[2022-07-25 16:40] derberg commented on #821
I'm personally always afraid of such statements, I like saying `never say never`

the fix that we now say to do in a `MINOR` would normally by a `PATCH`. But because we are short from `MINOR` and other important things to do, we just say `yeah, no need to really do anything here, especially because of holidays dead season, and we can easily just release the fix with other features in September`

w

[2022-07-26 08:45] derberg commented on #527
@smoya isn't it the same as `tag` property that you are now pushing for 2.5?

[2022-07-28 15:51] derberg commented on #811
Basing on recording of last 3.0 meeting https://www.youtube.com/watch?v=7CymWygvWwI

@fmvilas can you highlight why we need a new spec or even a new flag to indicate it is Application or a Broker.

Dumb question ahead: Why cannot spec say that it is for both and `Operation` is simply optional.

I ask this question in reference to my previous comment about Websocket that is a MessageBroker. It will

[2022-07-28 16:16] fmvilas commented on #811
It is not "it is Application or a Broker". It is about being an Application or simply a collection of resources (messages, channels, servers, etc.). I called the latter a Domain for the lack of a better term. Can also be called a Library, Menu, etc.

For Domain aka Library aka Menu, the purpose is to hold a set of reusable stuff. It's not a specific application.

Yes, that's exactly what I propose

[2022-07-29 12:01] fmvilas commented on #547
I think this should be addressed in the next major version, otherwise, it will produce a breaking change. Or! We leave it for 4.0.0 and see how well the parser intent-driven API behaves 😄

[2022-08-01 13:37] VladT86 commented on #414
Hi @derberg

I'm having a similar issue while trying to parse an avro schema containing more objects definitions. What is the proper syntax to select one of the objects from the avsc file that has attributes of other object types defined in the same avsc file?

Thanks

[2022-08-04 14:21] jonaslagoni commented on #656
Still relevant

[2022-08-04 14:53] jonaslagoni commented on #622
@magicmatatjahua as the current referencing standard does not enable us to reference non-JSON data, I am proposing a new RFC that we design, see https://github.com/asyncapi/spec/pull/825. This should define exactly how non-JSON + JSON should work with references. The proposal encapsulates your proposal for using `schemaFormat`. The only change you need to do is to use `Schema Reference and Linking

[2022-08-08 16:39] jonaslagoni commented on #655
Still relevant.

[2022-08-16 08:39] camhashemi commented on #432
Any updates on this? seems like a critical feature that an async API schema natively documents the message envelope

[2022-08-16 09:56] Souvikns commented on #689
Example of a use case:
Right now in glee, we are using `x-kind` to declare remote or local servers and by default treating servers as remote if the property is missing.

so according to our use case https://github.com/asyncapi/spec/issues/689#issuecomment-1058193884 this looks better.

[2022-08-16 12:39] derberg commented on #414
@dalelane @M3lkior hi folks, did you try more complex references to Avro files? you have some examples?

[2022-08-17 20:19] handrews commented on #649
This would make the most sense to me.  I see some confusion/concern here over the use case for `$id` — when we (JSON Schema) worked with OpenAPI on them adopting 2020-12 for OAS 3.1, `$id` and related keywords were one of the major topics of concern.  We were able to work through all of that (across many video calls) and I'm happy to discuss that experience if it helps.

This is an important conse

[2022-08-22 09:49] magicmatatjahu commented on #667
@derberg We just tested it on the example of this issue 🤣 Let others comment, I think that for 3.0.0 we should have some month two of such period.

cc @derberg @fmvilas @jonaslagoni @smoya @dalelane

[2022-08-22 11:49] magicmatatjahu commented on #656
@derberg Could you reopen it?

[2022-08-22 16:26] fmvilas commented on #432
I'm gonna work on this for v3.0.0, that's all I can say so far. No plans to have it for v2.x.

[2022-08-22 16:28] fmvilas commented on #432
Just for the record, I meant "I haven't really looked at it in detail yet so don't know". Hope it didn't look like I'm hiding information or something 😅

[2022-08-23 15:57] fmvilas commented on #663
To me, the biggest tradeoff of having just IDs is that code editors will not immediately recognize it's a reference to something defined somewhere else. Here I'm not proposing that we identify channels by the `$ref` but that we only let people specify `$ref` inside the `channels` root object. The parser will replace these with the full object and will annotate the object with the id (last part of

[2022-08-24 21:46] smoya commented on #663
I'm not sure i fully get this. You mean `channels` **must** look like the following?:

[code]

[2022-08-25 05:12] fmvilas commented on #663
Nope, they'd look like this:

[code]

[2022-08-25 08:26] smoya commented on #663
What about the following scenario, where two channels have a pointer to the same one?

[code]

both `channelA` and `channelB` will be identified as `aChannel`, but they are actually different channels.

[2022-08-25 08:46] fmvilas commented on #663
Is it really a problem? Honest question.

[2022-08-25 08:55] smoya commented on #663
In my brain, IDs should be unique across a document. So yes, it is a problem in the right moment two different objects share the same id.

[2022-08-25 09:24] fmvilas commented on #663
But they don't share the same ID. In your example:

[code]

[2022-08-25 09:29] smoya commented on #663
As per your comment in https://github.com/asyncapi/spec/issues/663#issuecomment-1173490142, the id will come from the JSON pointer. So it will be:

[code]

[2022-08-25 11:48] fmvilas commented on #663
Yeah sorry, my fault. It should come from the context when possible, not from the JSON pointer. I think it makes sense to take it from the context, otherwise, why would we bother having `channelA` and `channelB` keys inside `channels`, right?

[2022-08-28 15:43] fmvilas commented on #663
If we make it mandatory to put channel definitions inside `components/channels` and then reference them using their IDs, it would look something like this:

[code]

The channel ID comes from the context. In this case, from the key in `components/channels`. Now the question is, do we really need the root channels object? 🤔

### Benefits

* No `$ref` everywhere, just IDs.
* Shorter and easier to rea

[2022-08-30 13:29] magicmatatjahu opened #828 "Clarify the shape of the SecurityRequirement Object"
Together with @smoya we wonder if we have a good understanding of the use of the `SecurityRequirements Object` item in the `Server Object` and `Operation Object`. The specification gives the shape for `SecurityRequirement Object` as:

![image](https://user-images.githubusercontent.com/20404945/187448417-a3d681c3-1d76-468e-827f-4c1f34968d3d.png)

Then, according to the definition, are we able to us

[2022-08-30 14:42] fmvilas commented on #828
That's a good question. I got this from OpenAPI and [it doesn't clarify it either](https://github.com/OAI/OpenAPI-Specification/blob/main/versions/3.1.0.md#securityRequirementObject). My gut feeling is that it's possible and it's fine. So the following two examples should be equivalent:

[code]

[code]

[2022-08-30 15:04] magicmatatjahu commented on #828
@fmvilas Thanks for fast response!

Hmm, I don't think so 😅 As we read description for single `SecurityRequirement Object`:

so when you have two schemas like:

[code]

You need to satisfy to authorize the connection these two schemas, both `apiKeyScheme` AND `oauthScheme`. In the case:

[code]

we need to satisfy `apiKeyScheme` OR `oauthScheme`. Of course I can be wrong, but for me array !== obje

[2022-08-30 18:09] smoya commented on #663
For the record, I want to raise a problem with our spec that is currently a thing, and that might be possible to fix with the first suggestion @fmvilas made or actually any approach that moves definitions to live under components and be referred from an array of IDs (or JSON Pointers):

[code]

With Servers becoming an array of Ids, it gets fixed:

[code]

Also with Servers becoming an array of JS

[2022-08-31 07:04] fmvilas commented on #828
Oh yeah, you're right. So there you go. If it's an object, it's an AND operation, otherwise, it's an OR.

[2022-09-01 11:40] derberg commented on #663
@smoya regarding your comment about problems with spec and `servers`. The spec is pretty clear:

[code]

so nobody should expect that ids in an array of `servers` point to components. Especially that `components` is just a reuse feature, not an "integral" part of API definition. Stuff in `components` do not have to be referenced and used in a given API. So I think we are safe.

---

I have to admi

[2022-09-01 14:42] magicmatatjahu commented on #663
We can use `$ref` in every place when we need to refer to something (`channel.servers()`, `operation.channel()`, `channel.message()` etc.), I'm in favour of that ➕ Also idea to change `SecurityRequirements` shape with using `$ref` is good for me.

[2022-09-01 14:47] fmvilas opened #829 "Unify all referencing mechanisms in v3"
Spin off from this conversation: https://github.com/asyncapi/spec/issues/663#issuecomment-1158094050.

## Summary

We use different referencing mechanisms in the spec:

* By name in components: SecurityRequirement Object
* By name in servers: Channel.servers property
* By using `$ref`: pretty much everywhere

This issue is to discuss if we should unify all of them and how.

[2022-09-01 14:48] fmvilas commented on #829
I'm in favor of using `$ref` everywhere possible. More details in https://github.com/asyncapi/spec/issues/663#issuecomment-1158094050.

[2022-09-01 14:48] fmvilas commented on #663
I created a separate discussion for that topic: https://github.com/asyncapi/spec/issues/829.

[2022-09-01 17:29] jfallows commented on #558
@olamiral did you get any response perhaps in another forum about your question and feedback?

[2022-09-01 17:44] jfallows commented on #618
@olamiral this approach makes a lot of sense.

This describes the surface area of the service interface without confusing the concepts of client, server, sender, receiver, publisher, subscriber, and also shows how AsyncAPI might incorporate a unified approach for all REST and Event-Driven APIs.

What do people think of this aspect of this proposal that is directly relevant to publish/subscribe con

[2022-09-01 18:22] jfallows commented on #618
This perceived problem might be conflating API definition with deployment concerns, leading to API definition divergence and logical duplication.

There's a lot to be said for having a single source of truth for the surface area of a service interface, and once we go down the path of having multiple definitions from different perspectives such as `backend` and `frontend`, that can get lost.

[code

[2022-09-02 05:13] fmvilas commented on #618
@jfallows thanks a lot for the feedback. It seems all your comments are really focused on HTTP and REST APIs but these are not the target of AsyncAPI (at least not yet). We're trying to get WebSocket (client-server) and broker-based architectures (Kafka, MQTT, AMQP, etc.) right first.

[2022-09-02 22:35] jfallows commented on #618
@fmvilas thanks for responding.

I think you may have misunderstood, my feedback is not specifically focused on HTTP and REST.

My feedback is about the general problem of AsyncAPI publish/subscribe confusion, and getting to the root cause, i.e. that specifying `publish` or `subscribe` is indicating the implementation _behavior_ from a certain perspective, triggering the divergence of `frontend` v

[2022-09-05 16:27] #780 closed

[2022-09-05 16:27] fmvilas commented on #780
I think this has been done already. Let me know otherwise, @char0n.

[2022-09-05 18:06] char0n commented on #780
I confirm, it's been merged into master as editorial change -  https://github.com/asyncapi/spec/commit/02393d166a5c70481bd2f7f7f23d69c4f24b83b1

[2022-09-05 18:31] char0n opened #830 "Work on 2.5.0 release"
Release 2.5.0 is scheduled for September 2022

### Detailed info:

* https://github.com/asyncapi/spec/blob/master/RELEASE_PROCESS.md

Assigned release coordinator and person responsible for the 2.5.0 release: @char0n

### Kick-off:

* **TODO**: incorporate release plan described by this issue in one of the September community meetings

### Release branches:

* https://github.com/asyncapi/spec/tree

[2022-09-06 11:00] char0n commented on #711
https://github.com/asyncapi/spec/pull/783 has been merged directly to master. Closing.

[2022-09-06 11:00] #711 closed

[2022-09-06 11:03] char0n commented on #612
PR attached to this issue is: https://github.com/asyncapi/spec/pull/779

[2022-09-06 14:01] olamiral-mulesoft commented on #558
@jfallows Not yet. I saw there were some discussions around the spec in issue #520, but I'm not sure if we could come to a conclusion about it yet.

Regarding how messages / events could be tracked and related to each other, one option would be defining a message as an entity composed by:
- a section for tracking / correlation: list of fields that will be used to track the message. Correlation can

[2022-09-07 08:39] GreenRover commented on #829
I agree.  Having it unique would be a good idea.
`$ref` looks for me as the best solution as well.

#### Contra:
- `$ref` would allow illegal references
[code]
But there for we have schema validator to point out mistakes like this.

#### Pro:
- It is unique we not need to be use to handle multiple ways to solve the same problem
- It is supported by most IDE. Your have jump marks and mouse over sup

[2022-09-07 15:04] char0n commented on #612
Closing as the #779 has been merged to master as editorial change.

[2022-09-07 15:04] #612 closed

[2022-09-07 15:06] char0n commented on #674
Closing as https://github.com/asyncapi/spec/pull/782 has been merged to master as editorial change.

[2022-09-07 15:09] derberg commented on #829
let's do `$ref` but consistently everywhere

[2022-09-09 18:13] char0n commented on #821
Do I correctly assume that `2.4.1` release effort was discontinued? Given we already have [2.5.0](https://github.com/asyncapi/spec/issues/830) effort on the way.

[2022-09-12 07:24] smoya commented on #821
@char0n your assumption is correct. Closing in favour of https://github.com/asyncapi/spec/issues/830.

[2022-09-12 07:24] #821 closed

[2022-09-13 14:47] jonaslagoni commented on #667
For 3.0.0 I would suggest we try with a 1-month buffer, meaning if we want to release it in Januar, we stop adding new changes to the spec in December 🙂 That way it's a start, and we can evaluate in retrospect how it went.

Adding it as a suggestion for tomorrow's 3.0.0 meeting: https://github.com/asyncapi/community/issues/453

[2022-09-13 14:59] fmvilas commented on #667
I would actually suggest we give it 3 months. It's going to be a huge change 😅

[2022-09-13 15:07] jonaslagoni commented on #667
Well, yes that is true, but remember parser should already be up to date before the freeze period, and those who worked on the spec that also works on tooling, have their hands free as no further changes are happening from that front. So I actually don't think it's that bad 😄

[2022-09-14 16:14] smoya commented on #667
+1

[2022-09-14 19:21] dalelane commented on #667
For v3, and major versions in general, I agree - a few months is sensible.
For minor versions, it feels less urgent to me though

[2022-09-19 13:44] smoya commented on #711
@char0n I guess this change should be propagated to each individual repository that applies wrongly the Apache 2.0 license. Right?

cc @derberg @fmvilas

[2022-09-19 13:53] char0n commented on #711
@smoya yes, ideally. I can handle it after the release effort is over.

[2022-09-19 14:11] smoya commented on #711
I think we could use the file replicator action from https://github.com/asyncapi/.github/blob/master/.github/workflows/global-replicator.yml#L3-L9

[2022-09-20 10:04] dalelane commented on #414
My interpretation of this, and how I've been using it, was that the `$ref` specifies
- location of the schema file
- fully-qualified name of the record in the schema file
(separated by `#/`)

(And I only include the name of the record where the schema file contains more than one record - typically, I try to keep the avsc file containing a single definition, and in those cases I would just point th

[2022-09-20 10:08] dalelane commented on #414
FYI - There is also a related discussion about being more consistent with JSON schema in how we use `$ref` in https://github.com/asyncapi/spec/issues/649

[2022-09-20 10:11] dalelane commented on #649
It might be helpful to consider how we use `$ref` to refer to external, non-AsyncAPI resources, as part of this?

There was a question about how we refer to schemas within an Avro avsc file (where the avsc file contains multiple record definitions) in https://github.com/asyncapi/spec/issues/414. I think we are perhaps a little ambiguous about how that should be done, as the raiser of that issue ha

[2022-09-20 10:26] smoya commented on #649
I think this issue can be closed in favor of https://github.com/asyncapi/spec/pull/825, where all those requirements are put in common. WDYT @dalelane @handrews @jonaslagoni ?

[2022-09-20 13:18] char0n commented on #830
Pre-releases are currently not auto-generated due to  https://github.com/asyncapi/spec/pull/834.

[2022-09-20 14:01] char0n commented on #830
Pre-releases of schemas are currently not auto-generated due to https://github.com/asyncapi/spec-json-schemas/pull/255.

[2022-09-20 14:13] char0n commented on #830
Pre-release global workflow modification in https://github.com/asyncapi/.github/pull/180

[2022-09-20 20:40] dalelane commented on #649
I hadn't seen #825 - catching up on it now. But at first glance, that makes sense

[2022-09-21 08:42] #649 closed

[2022-09-22 08:51] dalelane commented on #465
support for tags in servers being added in https://github.com/asyncapi/spec/issues/465 gives us a mechanism for describing this

I'll leave the issue open for now so I can add an example that demonstrates this

[2022-09-22 09:17] magicmatatjahu commented on #830
Can we add that PR to the list? https://github.com/asyncapi/spec/pull/840 Thanks!

[2022-09-22 10:48] smoya commented on #465
I think the link is not correct. Maybe you wanted to refer to https://github.com/asyncapi/spec/pull/809

[2022-09-22 11:23] dalelane commented on #465
yes, that's right... thanks!

(sorry - that'll teach me to try and multi-task! 🤦‍♂️)

[2022-09-22 13:56] derberg commented on #830
ok, another improvement after release that we need is to set branch protection on the release branches since these are not "stable" in the way that name doesn't change. This way, we make sure @fmvilas is not able to do a force push on these next time 😆

[2022-09-22 14:20] fmvilas commented on #830
You do realize that I can enable force-push back and then do it again, right? :trollface: Now seriously, sorry for all the noise 😅

[2022-09-23 09:06] jonaslagoni commented on #822
@fmvilas @dalelane @derberg you can close this

[2022-09-23 12:42] fmvilas commented on #822
@jonaslagoni if you want I can transfer the issue to Modelina instead of using the copy you created with Zenhub.

[2022-09-26 12:56] derberg commented on #711
@smoya good catch, definitely we should do it through global workflow so it is synchronized everywhere in the same form

[2022-09-28 14:28] jonaslagoni commented on #699
As I can see we can close this issue as it's completed both for version 2 and 3.

cc @char0n @fmvilas @derberg @dalelane

[2022-09-28 14:33] jonaslagoni commented on #661
We can close this one as it was introduced in https://github.com/asyncapi/spec/pull/827

cc @derberg @fmvilas @dalelane

[2022-09-28 15:20] char0n commented on #699
@jonaslagoni sure, fine with me.

[2022-09-28 17:05] smoya commented on #691
@jonaslagoni can you add the following PR https://github.com/asyncapi/parser-api/pull/71 to the `Intent and parser API` list in `Tooling progression`? Thanks!

[2022-09-28 17:09] fmvilas commented on #661
Moving to RFC 1. It's still missing JSON Schema and Parser implementations. I'll update the label once it's ready.

I know an RFC 1 should be a pull request but I think we can just make an exception here for now.

[2022-09-29 06:49] #654 closed

[2022-09-29 06:49] #775 closed

[2022-09-29 06:49] #465 closed

[2022-09-29 07:16] char0n commented on #830
AsyncAPI 2.5.0 release - https://github.com/asyncapi/spec/releases/tag/v2.5.0

[2022-09-29 07:16] char0n commented on #830
JSON Schemas release -  https://github.com/asyncapi/spec-json-schemas/releases/tag/v3.2.0

[2022-09-29 08:17] char0n commented on #830
Parser-js - https://github.com/asyncapi/parser-js/releases/tag/v1.17.0

[2022-09-29 08:18] char0n commented on #830
AsyncAPI 2.5.0 has been **successfully released**.

[2022-09-29 13:57] derberg commented on #507
@magicmatatjahu I suggest we close it

- schemas were created long time ago already by Khuda
- Jonas is not integrating them in the `spec-json-schema`

or we move it to `spec-json-schema` and close once PR from Jonas is merged

[2022-09-29 18:30] fmvilas opened #844 "Sergio joining as code owner"
Hey fellow code owners @derberg, @dalelane, and @asyncapi-bot-eve 😄

I'd like to propose that @smoya joins us as a code owner of the `spec` and `spec-json-schemas` repo. I think it's obvious how much he's been contributing lately and he deserves it IMHO. @smoya I hope you also want to accept this (questionable) honor :)

Leave your comments below!

[2022-09-29 18:32] fmvilas opened #845 "Vladimir joining as code owner"
Hey fellow code owners @derberg and @dalelane,

I'd like to propose that @char0n joins us as a code owner of the `spec` and `spec-json-schemas` repo. I think it's obvious how much he's been contributing lately and he deserves it IMHO. @char0n I hope you also want to accept this (questionable) honor :)

Leave your comments below!

[2022-09-29 20:05] smoya commented on #844
It would be an honour, totally! ❤️

[2022-09-30 07:57] dalelane commented on #844
totally agree 100% 👍

[2022-09-30 08:35] dalelane commented on #845
absolutely agree - even just looking at the latest contribution, the 2.5.0 release was a great piece of work - but that's on top of loads of other contributions

[2022-10-03 09:15] magicmatatjahu commented on #795
@jessemenning I don't think we should combine such a thing in this issue/proposal. A better option would be to create a separate proposal, because it is quite a "big" contribution to the new spec, than to consolidate the existing fields :)

[2022-10-03 10:21] derberg commented on #830
Another improvement in the process. The pull request with release notes blog in `website` repo should not only introduce the article itself but also changes in docs. We keep forgetting that, and as a result, [we have `2.2.0` promoted in the docs](https://www.asyncapi.com/docs/tutorials/getting-started/hello-world).

[2022-10-03 11:12] magicmatatjahu commented on #750
Adding tags on `Schema Object` level https://github.com/asyncapi/spec/pull/796

[2022-10-03 11:13] magicmatatjahu commented on #750
Reusable `Tag` and `External Documentation` objects https://github.com/asyncapi/spec/pull/792

[2022-10-03 13:03] derberg commented on #844
definitely agree, no question about it.
Sergio not only contributed to 2.4 as coordinator but also improved the spec itself a lot with many PRs and participates in review process a lot

[2022-10-04 15:35] char0n commented on #845
Thank you all for the trust. I do accept and I'll do my best ;]

One question though: Does this automatically also make me the [TSC member](https://www.asyncapi.com/community/tsc) or being a code owner is unrelated to TSC membership?

[2022-10-05 08:36] smoya commented on #845
This is exactly one of the requirements you might fulfill to become TSC member. So, yes 👍

[2022-10-07 08:33] fmvilas commented on #845
Yup. The TSC is composed of all the code owners of the organization. There are exceptions like a) someone doesn't want to join, and b) someone belongs to an organization that already surpassed the limit (1/4 of the total members count). Not your case so you're welcome to join the TSC. Would you mind adding yourself to https://github.com/asyncapi/community/blob/master/TSC_MEMBERS.json?

[2022-10-07 22:32] philCryoport opened #848 "Permit declaration of acceptable TLS version number(s) for connections"
To bring clarity to people implementing MQTT clients, we want to declare in our AsyncAPI spec which TLS version numbers are acceptable for connections to a MQTT broker.

The theory is then that the code-generators would then only use connection libraries that support the specified TLS version numbers  -- and would configure the generated code to specifically use the specified TLS version numbers.

[2022-10-07 22:35] philCryoport opened #849 "Permit declaration of permitted TLS cipher suites for connections"
It would be really helpful if we could declare in our AsyncAPI spec which TLS cipher suites are permitted for connections so there is no confusion when MQTT clients are implemented.

For example, [here's AWS IoT's official list of permitted TLS cipher suites](https://docs.aws.amazon.com/iot/latest/developerguide/transport-security.html#tls-cipher-suite-support).

The theory is then that the code-g

[2022-10-10 11:38] #844 closed

[2022-10-10 11:38] #845 closed

[2022-10-10 17:59] derberg commented on #699
I don't think we should close as long as 3.0 is not yet merged and released.
We should rather make sure it is linked in description of https://github.com/asyncapi/spec/pull/759 with info that it will be solved after the merge

[2022-10-11 10:49] derberg commented on #688
I suggest we extend https://github.com/asyncapi/spec/blob/master/CONTRIBUTING.md with new section called `Breaking Change vs Non Breaking Change` and put it between `Guiding Principles` and `RFC Contribution Champions`.

Most of content is already provided

[code]

Anyone is welcome to open a PR and drive it until it is merged.

/gfi docs

[2022-10-11 10:49] derberg commented on #688
/gfi docs

[2022-10-11 10:51] derberg commented on #650
@jonaslagoni can we close this one if favour of https://github.com/asyncapi/spec/issues/829?

[2022-10-11 11:06] jonaslagoni commented on #650
As I understand https://github.com/asyncapi/spec/issues/829 is only for figuring out if we go with $ref or name for example referencing servers in channels.

But honestly, I don't see this as an issue anymore, and the suggestions are kinda useless tbh as there are no use-cases behind it (and the suggestion I made does not really make sense), just confusion based on the parser implementation.

Clos

[2022-10-11 11:06] #650 closed

[2022-10-11 11:20] derberg commented on #849
@philCryoport hey, thanks for the issue.

Can you provide more clarification.
So you need option on each `server` to specify `cipher suite` right? its name?

Is there so official AWS independent list of those? some organization managing these?

[2022-10-12 11:00] #805 closed

[2022-10-12 17:22] jonaslagoni opened #850 "Channel parameter location inconsistency"
The [channel object defines](https://www.asyncapi.com/docs/reference/specification/v2.5.0#channelItemObject) parameters as:

But the [parameter object](https://www.asyncapi.com/docs/reference/specification/v2.5.0#parameterObject) allows you to define a runtime expression defining the location of the parameter value through `location`.

The [runtime expression](https://www.asyncapi.com/docs/referen

[2022-10-13 18:18] fmvilas commented on #829
/progress 60

PR is in place now: https://github.com/asyncapi/spec/pull/852.

[2022-10-15 22:29] Dule-martins commented on #688
I will be happy to open a PR and drive it until it is merged, but I'm kind of confused about what to do. Don't know why I'm confused 😂

[2022-10-16 05:48] Dule-martins commented on #688
/help

[2022-10-17 10:25] fmvilas commented on #828
Do we have an example of a use case in which we want to have the AND operation in security? I mean, a case in which we should meet all the defined security mechanisms? I can't think of any right now.

[2022-10-17 10:46] derberg commented on #688
@Dule-martins 😆 if you feel confused but you do not know why, I'm definitely not gonna be able to help you out 😆

[2022-10-17 14:35] smoya commented on #828
Would it make sense that a server requires `asymmetricEncryption` for connection + `userPassword` or another mechanism for authentication? In that case, both would be required for the same connection to success.

[2022-10-17 15:05] fmvilas commented on #828
Oh true, encryption. Now it's making me wonder if encryption should be there as a security mechanism 🤔 Maybe it can be a property of all Security Scheme Object, something like:

[code]

Given that it's the only one that's combinable with others. Or at least the only one I can think of.

[2022-10-17 15:27] smoya commented on #828
Thinking out of the box, wouldn't MFA be an actual use case here? Maybe not very clear with the current supported mechanisms, but still an option I think.

[2022-10-18 12:43] derberg commented on #850
it is pretty old feature and I think only @fmvilas is able to answer really

[2022-10-18 13:03] Dule-martins commented on #688
@derberg now, I know my issue

I don't have clue of what to do and where to do what I need to do.

I have been reading comments for days yet still confused kindly help

[2022-10-18 13:05] derberg commented on #688
@Dule-martins ok, basically ignore all comments except of https://github.com/asyncapi/spec/issues/688#issuecomment-1274493753 that summarizes what has to be done

[2022-10-19 23:16] Dule-martins commented on #688
Hello @derberg

How should I start with this? Now I know why I was confused, don't know where to start

[2022-10-19 23:17] Dule-martins commented on #688
Oh! Thanks, Boss ❤️️

[2022-10-20 04:36] fmvilas commented on #850
The whole thing started here: https://github.com/asyncapi/spec/issues/199. Yeah, I think `A map of the parameters included in the channel name` vetoes that. We can clarify it more, of course.

[2022-10-20 12:24] magicmatatjahu opened #856 "[3.0.0] Required fields in Operation Trait Object."
I'm wondering if fields like `channel` and `action` in the `Operation Trait Object` should be there or not. These fields in the trait are optional, but in the normal `Operation Object` are required. I have a problem with this from a validation point of view - since the mentioned fields in the `Operation Object` are required then they must be defined, that is, first we would have to check if the tr

[2022-10-21 10:30] ivangsa commented on #618
hi after some thoughts while preparing to work on some tooling for v3 I have now mixed feelings about the new "channels menu" approach

As I [commented early](#issuecomment-1144988899), I thought this was great as it makes posible documenting integration patterns that span more than one application like SAGAs... not possible with v2

but, on the other side, now with v3 message definitions are "not

[2022-10-21 14:33] magicmatatjahu commented on #618
@ivangsa Good observation. I myself had a problem with this new approach of describing the messages at the level of channel and not at the level of operation, but I also understand the approach of a channel like a registry, however, there are still quite a few problems here that you described. Since the channel currently does not have any required fields, it would be possible to add the ability to

[2022-10-24 07:39] magicmatatjahu commented on #739
It's just that two channels don't quite solve the problem, because then there is a duplication of data - even in the case of version 3. We are thinking that a channel is just an address, but it's also information about bindings, parameters etc. and copying a channel we usually have to do a lot of references which is not very friendly from the UX level.

The ability to define servers at the level o

[2022-10-24 12:17] jonaslagoni commented on #618
It's not that they are by default not owned by the application. It is that they can* and it all depends on your use case and how you wish to integrate them. It's a pros and cons game as everything else 🙂 You can decide to take that approach and have all messages and channels defined as a menu all applications reference from, or you can have the information owned by the applications (as in version

[2022-10-24 12:43] ivangsa commented on #618
@jonaslagoni ahh ok, the reference to the channel menu is just a normal reference, you can split into "channel menu" and "application" or use just one file... (or even $ref from the "channel menu" the channel defined on the "application")

thanks for the aclaration... I was thinking that the split as part of the specification.. is just a normal $ref

[2022-10-24 13:33] magicmatatjahu commented on #618
@jonaslagoni I perfectly understand the current status of v3 spea, but as I specified, these revert channels with the same address but with a different messages list (or a single message) causes, in my opinion a worse of the UX of spec. Take an example where the `operation.message` field exists with a definition:

then that spec example you gave could look like (I think that `operation.channel: nu

[2022-10-24 14:07] buehlefs commented on #618
Please also keep in mind that, regardless of what the spec will say a channel or an operation is, people will have their own understandings of these words (especially if they have not read the spec in detail yet). Going against these common understandings will only result in frequent misunderstandings.
An `operation` is a thing you can do. The documentation for an operation should describe what is

[2022-10-24 16:00] fmvilas commented on #618
@magicmatatjahu you just gave me an idea and I proposed we apply it (slightly different): https://github.com/asyncapi/spec/pull/847#discussion_r1003488035.

[2022-10-25 17:36] philCryoport commented on #849
Hi @derberg not sure what you mean by your question.

Here, let me give my specific use case:

I'd like to specify in an AsyncAPI schema that the only acceptable TLS cipher suites for communicating with a server are:
* ECDHE-ECDSA-AES128-GCM-SHA256
* ECDHE-RSA-AES128-GCM-SHA256
(...or for a set of servers within this AsyncAPI schema file...or across all servers in this entire AsyncAPI schema file.

[2022-10-25 18:44] jonaslagoni opened #859 "[3.0.0] Incorrect introduction to AsyncAPI"
### Describe the issue
In the current [version 3.0 of the spec](https://www.asyncapi.com/docs/reference/specification/v3.0.0-next-major-spec.3) the first introduction of what an AsyncAPI file describes:

Is no longer valid with the switch of operation keywords from https://github.com/asyncapi/spec/pull/806

[2022-10-26 10:29] jonaslagoni commented on #727
Somewhat related to https://github.com/asyncapi/spec/issues/697

[2022-10-26 15:07] magicmatatjahu commented on #691
@jonaslagoni Could you mark the `Improve components and what can be defined within them` as done with `spec` repo? It's already merged.

[2022-10-26 16:22] derberg opened #861 "Should we do branch protection on release branches?"
**Current State**

We have branch protection on `master` only.
So in release branches:
- maintainers can do force push
- we can merge PRs to these when CI fails
- changes in PRs after approval do not discard approvals. So in theory bad actor can push changes to PR without approvals before merging it

**Future**

Should we set up the same branch protection rules for release branches that we have in

[2022-10-26 18:06] jonaslagoni commented on #861
Definitely think you should add them yes 👍

[2022-10-26 18:13] magicmatatjahu opened #862 "[3.0.0] Should we have `messageId` and `name` fields in Message Object?"
We had discussion about it in the 3.0 meeting - https://youtu.be/H5P-gBwdFs0?t=506 (started from given second - about 25 minutes).

We wonder if we need `name` and `messageId` in new v3 spec. We can treat keys in `channel[x].messages` object as `messageId`. This means that `messageId` (object key) then will be unique against the channel and not against the specification/application. We should disc

[2022-10-26 18:44] jonaslagoni opened #863 "[3.0.0] Clarify operation object channel reference"
Given the following AsyncAPI document:

[code]

Should the `#/operations/ConsumeUserSignedUp/channel` be a reference to the local channels defined with the root `#/channels/UserSignedUp` or can it be a reference to the external common definition `./channels/UserSignedUp.yaml`?

The current definition for `channel` says:

Which I would argue does not clarify this... So what is the intended behavior

[2022-10-26 18:53] magicmatatjahu commented on #863
@jonaslagoni I also have a problem with current channels - my comment about it https://github.com/asyncapi/parser-js/pull/654#discussion_r1000286083

I think that you can make reference to channel in `operations[x].channel` from external document, but that channel should be also referenced inside `channels` section, like:

[code]

Important thing is that `'./channels/UserSignedUp.yaml'` should be

[2022-10-26 19:08] jonaslagoni commented on #863
That just goes against the definition of what [channels are for the root object](https://www.asyncapi.com/docs/reference/specification/v3.0.0-next-major-spec.4#channelsObject) which is defined as:

I kinda read it as `you must specify all the channels your application uses here`, which technically is not the case as it's more `Any channels defined under this section MUST be used by the application

[2022-10-26 20:30] magicmatatjahu commented on #863
Both references are good for me, but as I wrote, `operations.ConsumeUserSignedUp.channel` should be one of object defined in `channels, it's not important reference path, but it's important if it points to this same object. Let's not make such a restrained specification here 😄

I think `you must specify all the channels your application uses here` should be better description for it.

[2022-10-27 14:16] smoya commented on #856
I agree those fields should not be in Operation Trait object. We already removed those from the Parser-API as well few weeks ago for the same reason: https://github.com/asyncapi/parser-api/pull/71/files#diff-ac35ac6e0b0ad3629802a0e04076aa18e94da614f5392e1164dcaacdfe3ee198L241-R292

[2022-10-27 14:43] magicmatatjahu opened #868 "[3.0.0] Should `description` fields be able to be referenced?"
Currently, we cannot refer to markdown content from external files in our specification. We currently have to add description to the spec itself without the ability to reference. If the content itself is large and it would be easier to keep the markdown in a separate file, it would make life easier for many people. Hence my question, should we allow referencing in `description` fields?

Personally

[2022-10-27 14:49] fmvilas commented on #861
Yup 👍

[2022-10-28 10:45] magicmatatjahu commented on #505
At what stage do we have this proposal? I have now encountered this problem myself, and it surprises me that traits have a higher priority than the main object itself 😆 I understand that we want to fix the behaviour of traits in v3. @jonaslagoni @Fannon

[2022-10-30 21:05] dalelane commented on #861
yup - agreed.

Easier to enforce what we want to happen rather than rely on people remembering what's agreed

[2022-11-01 08:14] Fannon commented on #505
@magicmatatjahu : I'm not that actively involved in this anymore, sorry for that. My feeling was that we lacked a bit a consensus on how to move this topic forward. Changing the existing behavior would be a breaking change, so it needs to be done with AsyncAPI 3.

But if we redo this, we have multiple options, I tried to outline my own proposals here: https://github.com/asyncapi/spec/pull/532#issu

[2022-11-01 08:46] char0n commented on #830
Resuming processing improvements now and incorporating them into https://github.com/asyncapi/spec/blob/master/RELEASE_PROCESS.md

[2022-11-02 08:50] magicmatatjahu commented on #505
@Fannon Thanks a lot! You did so much and we are grateful! I also think B2 would be a better option, but if it introduces problems then B1 is good too - the way of apply the traits themselves is more important than the details like the way to apply the arrays but we could improve that too :)

[2022-11-02 09:49] derberg opened #869 "Are extensions allowed inside bindings?"
my opinion: Yes, should be

But this is not documented.

#### Current situation
- AsyncAPI spec described in markdown file do not say anything about it
- Bindings specs described in markdown file do not say anything about it
- because we assumed bindings should support extensions, JSON Schema files for bindings allow usage of `x-` extensions

#### Proposal

It should not be something that is agree

[2022-11-02 11:07] char0n commented on #869
As a tooling author I assumed that extensions are not supported, given that spec, nor individual binding objects contain the following sentence: `This object MAY be extended with Specification Extensions.`

I assumed the opposite as I considered the markdown spec as single source of truth and not the schemas.

Agreed.

---

Overall IMHO it's a good idea for individual binding objects to support ex

[2022-11-03 09:59] char0n commented on #869
One more note: binding objects would need to be inspected as for example `amqp` Channel Binding Object look like this:

![image](https://user-images.githubusercontent.com/193286/199692517-4db48b92-1247-4a7a-8d0d-523dfcc6166d.png)

Notice the footer: `This object MUST contain only the properties defined above.`

[2022-11-07 11:16] smoya commented on #861
I think we should 👍

[2022-11-08 10:59] derberg commented on #849
@philCryoport sorry for not being specific. I'm not an expert in security in the case of TLS when you say cipher suite, you basically mean encryption used to generate the certificate.

If I'm right, isn't it enough to specify this -> https://www.asyncapi.com/docs/reference/specification/v2.5.0#x509-authentication-sample

When you generate a client, you do not generate certificates at the same time

[2022-11-08 21:49] philCryoport commented on #849
Hi @derberg no worries.  I missed the conference taking care of my ill child.  Hope you had a good conference -- and the sessions will be posted to YouTube.

I'll stick with what you propose.  Thanks for the reply back.

[2022-11-08 21:49] #849 closed

[2022-11-09 08:26] derberg commented on #849
@philCryoport thanks. Btw, almost all recordings are [here](https://www.youtube.com/playlist?list=PLbi1gRlP7pijRiA32SU36hD_FW-2qyPhl) already. Enjoy ☺️

[2022-11-09 10:27] magicmatatjahu commented on #862
@WaleedAshraf Yeah, but that `messageId` will be indicated by map key, where message is defined, so it will be required but you won't have option to not define key of map - in other words, `messageId` will be always set.

However, thinking about it second time I think that `messageId` is very important when you have registry for your system - each app which will reference to the registry should "s

[2022-11-09 11:16] magicmatatjahu commented on #691
@jonas Could you add PR (https://github.com/asyncapi/parser-js/pull/664) for my two topics: reusable `externalDocs` and `tags` and moving them to the `Info Object`?  It's already merged. Only PR for the `json-spec-schemas` waits. Thanks!

Also please add https://github.com/asyncapi/parser-js/pull/654 PR as merged in the Fran's `publish/subscribe confusion` topic.

[2022-11-09 15:43] magicmatatjahu commented on #856
Resolved by https://github.com/asyncapi/spec/pull/860.

[2022-11-09 15:43] #856 closed

[2022-11-10 13:55] jonaslagoni commented on #691
Done 👍

Looks like https://github.com/asyncapi/spec/issues/663 and https://github.com/asyncapi/spec/issues/661 are completely done, right?

[2022-11-11 14:11] fmvilas commented on #538
I think in v3 we should require one document for the client and another one for the server. In other words, we don't allow deriving one from the other. So you can't figure out the client by just switching send and receive from the "server" document to get the client one.

It needs a PR though. @derberg I'll be happy to take it if you're not in the mood.

[2022-11-14 13:51] lindhe commented on #738
:(

[2022-11-14 14:42] magicmatatjahu commented on #738
@lindhe Do you wanna create such an example? Contributions are more than welcome :)

[2022-11-14 19:31] derberg commented on #861
Branch protection for `*next*` (which means any branch with `next` in the name) is now set.
It is set in all release critical repos, spec, spec schema and parser

[2022-11-14 19:31] #861 closed

[2022-11-14 20:10] derberg commented on #538
@fmvilas be my guest ☺️

[2022-11-16 18:08] derberg commented on #94
Whoever listens to notifications from this issue, I encourage you to have a look at https://github.com/asyncapi/spec/pull/847. It is pretty advanced with few cards on the table, we need different opinions to figure out which one is the best.

If ya need guidance on where to look at, feel free to ask for help

[2022-11-19 16:52] fmvilas commented on #689
Alright, taking care of this issue now. Will be moving it forward in the next weeks. Thanks a lot for the great input @smoya @thake @magicmatatjahu @Souvikns. I'll come up with a formal proposal soon.

[2022-11-19 16:52] fmvilas commented on #689
Alright, taking care of this issue now. Will be moving it forward in the next weeks. Thanks a lot for the great input @smoya @thake @magicmatatjahu @Souvikns. I'll come up with a formal proposal soon.

[2022-11-20 15:56] fmvilas commented on #689
Alright, so I got a proposal but I have some concerns. Would be awesome to get your input :) https://github.com/asyncapi/spec/pull/874

[2022-11-20 15:58] fmvilas commented on #811
Have a look at https://github.com/asyncapi/spec/pull/874. The need to clarify this stuff appeared again. @derberg

[2022-11-20 18:12] fmvilas commented on #538
Done https://github.com/asyncapi/spec/pull/875

[2022-11-23 08:41] smoya commented on #862
From https://github.com/asyncapi/spec/pull/796#issuecomment-1167242385

Let's check the definition for messageId field at https://www.asyncapi.com/docs/reference/specification/v2.5.0#messageObject:

Now let's think, Isn't the messageId right made for that purpose?

My suggestion is to go further and deprecate `name` field.

[2022-11-23 08:58] smoya commented on #862
Another discussion that should take place (unless there is a clear reason) is why do we have `title`. I would either leave `name` or `title`, but not both.

[2022-11-23 10:29] magicmatatjahu commented on #862
@smoya `title` is a human friendly readable value, but `name` is machine friendly, so `title` is used usually for documentation generation and `name` for code generation.

As for the message fields, I would leave the `messageId` and remove the `name` because they currently serve the same purpose and the `messageId` has the + that it must be unique in the document.

[2022-11-24 10:02] damienklotz77 opened #878 "How to describe MQTT v5 user properties in an AsyncAPI document?"
Hi,

Our product has an asynchronous API in MQTT v5 protocol.
In this API, we have designed messages using MQTT v5 user properties.

We have described this API using an AsyncAPI v2.5.0 document.

Here is an minimalist example of how we have tried to describe these MQTT v5 user properties :

[code]

When we use keyword “headers”, AsyncAPI studio requires the use of the “type” keyword with value “ob

[2022-11-24 12:38] fmvilas commented on #878
It should go into the [MQTT5 binding](https://github.com/asyncapi/bindings/tree/master/mqtt5). However, nobody has defined it yet. We do have the [MQTT binding](https://github.com/asyncapi/bindings/tree/master/mqtt) that's meant for versions prior to 5. Maybe you want to help contribute to the MQTT5 binding? Seems to me that it should go into the Server binding specifically.

[2022-11-24 16:17] lmussier commented on #878
@fmvilas what is the difference in MQTT5 message properties and generic message header?
If one is defining MQTT5 binding (for that topic exclusively) don't you think it will ends up like https://github.com/asyncapi/bindings/issues/158 ?

By the way since [#158](https://github.com/asyncapi/bindings/issues/158) seems to say generic header are a valid representation of key pair values, I guess the sa

[2022-11-28 05:28] fmvilas commented on #878
The difference is in the AsyncAPI specification.  Message headers should contain application-specific stuff only and should leave protocol-specific stuff out. Everything that's related to a specific protocol, should go into a binding. Sure, you can put it in a header and that might work but we're trying to maintain a clear separation between the two.

See https://www.asyncapi.com/docs/reference/sp

[2022-11-28 14:13] lmussier commented on #878
Crystal clear, thank you for the extensive answer.